{% extends "base.html" %}
{% load static utils %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'about/css/faq.css' %}">
{% endblock styles %}


{% block content %}

<div class="content box">
    {% for faq in faqs %}
        <article class="anchor" id="{{ faq.question|slugify }}">
            <div class="faq-question">
                {{ faq.question }}
                <a class="dyn-anchor-link" href="#{{ faq.question|slugify }}"><i class="fas fa-link"></i></a>
            </div>
            <div class="faq-answer">
                {{ faq.answer|as_markdown }}
            </div>
        </article>
    {% endfor %}
</div>

{% endblock content %}
