{% extends "base.html" %}

{% block content %}


<div class="box has-text-centered">
  <a href="{% url 'about:join' %}" class="link button is-link is-medium is-outlined">Forma parte de la asociación</a>
</div>

<a name"intro"></a>
<article class="anchor" id="intro">

  <div class="section-header dyn-anchor-heading">
    Introducción
    <a class="dyn-anchor-link" href="#intro"><i class="fas fa-link"></i></a>
  </div>

  <div class="section-body">

    <p><b>{{ organization.name }}</b> es una asociación sin ánimo de lucro cuyos objetivos,
    son, entre otros, promover el uso del <a href="https://python.org/">lenguaje de
    programación Python</a>, dar <b>soporte</b> a quienes deseen aprenderlo y promover la
    programación como una <b>competencia educativa básica</b>.</p>

    <p>La asociación fue creada el <b>{{ organization.registration_date|date:"d/m/Y" }}</b>
    y desde entonces ha organizado <a href="{% url 'events:index' %}">diferentes
    eventos</a> de difusión del lenguaje de programación Python
    colaborando en el incremento de la comunidad de usuarios de Python en
    Canarias.</p>

    <p>Te recomendamos que no dejes de <a href="{% url 'about:history' %}">repasar
    la historia de Python Canarias</a>.</p>

    <p>Si quieres apoyar nuestra labor para que podamos abordar proyectos cada vez
    más ambiciosos, <a href="{% url 'about:join' %}">hazte socio/a!</a> Estamos deseando
    escuchar tus propuestas.</p>

  </div>
</article>

<a name="whypython"></a>
<article class="anchor" id="whypython">

  <div class="section-header dyn-anchor-heading">
    ¿Por qué Python?
    <a class="dyn-anchor-link" href="#whypython"><i class="fas fa-link"></i></a>
  </div>


  <div class="section-body">

    <p>Python es un lenguaje dinámico, de alto nivel y con una sintaxis clara. Es de
    propósito general lo que permite usarlo para cualquier tipo de programa o herramienta.
    Dispone de una inmensa cantidad de librerías, tanto internas como de terceras partes.
    Por si todo esto fuera poco, es software libre, multiplataforma (Unix, Windows u OS/X
    entre otras) y multiparadigma (orientación a objetos, funcional o imperativo). Python es
    utilizado hoy en día por empresas tan destacadas como Instagram, The New York Times,
    Google, Dropbox, NASA, Mercedes-Benz, Pinterest, National Geographic, The Washington
    Post, YouTube, Blender o Industrial Light & Magic.</p>

  </div>
</article>

<a name="fiscal"></a>
<article class="anchor" id="fiscal">

  <div class="section-header dyn-anchor-heading">
    Datos fiscales
    <a class="dyn-anchor-link" href="#fiscal"><i class="fas fa-link"></i></a>
  </div>

  <div class="section-body">
    <p>
      Asociación cultural {{ organization.name }}<br>
      CIF {{ organization.cif }}<br>
      {{ organization.address }}<br>
      {{ organization.postal_code }} {{ organization.city }}<br>
      {{ organization.phone }}
    </p>

    <p>
    <i class="fas fa-credit-card"></i> {{ organization.bank}} | <tt>{{ organization.iban }}</tt><br>
      <i class="fas fa-fingerprint"></i> {{ organization.registration_number }} <span class="content is-small">(NCI: Número Canario de Inscripción)</span>
    </p>
  </div>
</article>

<a name="board"></a>
<article class="anchor" id="board">

  <div class="section-header dyn-anchor-heading">
    Junta directiva
    <a class="dyn-anchor-link" href="#board"><i class="fas fa-link"></i></a>
  </div>

  <div class="section-body">

    <p>Actualmente la <b>junta directiva</b> está formada por:</p>

  <table class="table is-hoverable is-fullwidth">
   <thead>
    <tr>
     <th>Cargo</th>
     <th>Nombre</th>
     <th>Nº socia/o</th>
     </tr>
   </thead>
   <tbody>
    {% for row in board %}
    <tr>
      <th>{{ row.role }}</th>
      <td>{{ row.member.full_name }}</td>
      <td style="text-align: right;">Socio Nº
        <span class="tag is-info">{{ row.member.pk }}</span></td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
  </div>
</article>

<a name="docs"></a>
<article class="anchor" id="docs">

  <div class="section-header dyn-anchor-heading">
    Documentación
    <a class="dyn-anchor-link" href="#docs"><i class="fas fa-link"></i></a>
  </div>

  <div class="section-body">
    <ul>
      <li><a href="https://github.com/pythoncanarias/pycan-docs/blob/main/asociacion/estatutos/estatutos.pdf">Estatutos</a></li>
      <li><a href="https://github.com/pythoncanarias/pycan-docs/tree/main/actas/junta-directiva">Actas de la junta directiva</a></li>
      <li><a href="https://github.com/pythoncanarias/pycan-docs/tree/main/actas/asamblea">Actas de la asamblea general</a></li>
      <li><a href="https://github.com/pythoncanarias/pycan-docs/tree/main/actas/core">Actas del CORE</a> <span class="content is-small">(Comisión para la organización y realización de eventos)</span></li>
      <li><a href="https://github.com/pythoncanarias/pycan-docs/tree/main/logos/python-canarias">Logotipos</a></li>
      <li><a href="https://www.gobiernodecanarias.org/entidadesjuridicas/Servicios/asociaciones/">Registro de Asociaciones de Canarias</a></li>
    </ul>
  </div>
</article>

<a name="regulation"></a>
<article class="message" id="regulation">
  <div class="section-header dyn-anchor-heading">
    Normativa de aplicación
    <a class="dyn-anchor-link" href="#regulation"><i class="fas fa-link"></i></a>
  </div>

  <div class="section-body">

    <ul>
      <li><a href="https://www.boe.es/buscar/pdf/2003/BOE-A-2003-6500-consolidado.pdf">Ley 4/2003, de 28 de febrero, de Asociaciones de Canarias</a></li>
      <li><a href="http://www.gobiernodecanarias.org/boc/2007/038/001.html">Decreto 12/2007, de 5 de febrero, por el que se aprueba el Reglamento de Asociaciones de Canarias</a></li>
      <li><a href="https://www.boe.es/buscar/act.php?id=BOE-A-2002-25039">Ley 49/2002, de 23 de diciembre, de régimen fiscal de las entidades sin fines lucrativos y de los incentivos fiscales al mecenazgo</a></li>
      <li><a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2014-12328">Ley 27/2014, de 27 de noviembre, del Impuesto sobre Sociedades</a></li>
    </ul>
  </div>
</article>

{% endblock content %}
