{% extends "about/base.html" %}

{% block title %}Asociación - {{ block.super }}{% endblock %}

{% block body_class %}about-index{% endblock %}

{% block content %}

<p class="title is-1">Asociación</p>
<p class="subtitle is-3">{{ organization.name }}</p>

<div class="box has-text-centered">
  <a href="{% url 'members:join' %}" class="link button is-link is-medium is-outlined">Forma parte de la asociación</a>
</div>

<article class="message">
  <a id="intro"></a>
  <div class="message-header">
    Introducción
    <a class="headerlink" href="#intro">¶</a>
  </div>
  <div class="message-body">
    <strong>{{ organization.name }}</strong> es una asociación sin ánimo de lucro cuyos objetivos, son, entre otros, promover el <strong>uso del lenguaje</strong> de programación Python, dar <strong>soporte</strong> a quienes deseen aprenderlo y promover la programación como una <strong>competencia educativa básica</strong>.</p>

    <p>La asociación fue creada el <strong>{{ organization.registration_date|date:"d/m/Y" }}</strong> y desde entonces ha organizado <a href="{% url 'events:index' %}">diferentes eventos</a> de difusión del lenguaje de programación Python colaborando en el incremento de la comunidad de usuarios de Python en Canarias.</p>

    <p>Te recomendamos que no dejes de <a href="{% url 'about:history' %}">repasar la historia de Python Canarias</a>.</p>

    <p>Si quieres apoyar nuestra labor para que podamos abordar proyectos cada vez más ambiciosos, <a href="{% url 'members:join' %}">hazte socio/a!</a> Estamos deseando escuchar tus propuestas.</p>
  </div>
</article>

<article class="message">
  <a id="whypython"></a>
  <div class="message-header">
    ¿Por qué Python?
    <a class="headerlink" href="#whypython">¶</a>
  </div>
  <div class="message-body">
    <p>Python es un lenguaje dinámico, de alto nivel y con una sintaxis clara. Es de propósito general lo que permite usarlo para cualquier tipo de programa o herramienta. Dispone de una inmensa cantidad de librerías, tanto internas como de terceras partes. Por si todo esto fuera poco, es software libre, multiplataforma (Unix, Windows u OS/X entre otras) y multiparadigma (orientación a objetos, funcional o imperativo). Python es utilizado hoy en día por empresas tan destacadas como Instagram, The New York Times, Google, Dropbox, NASA, Mercedes-Benz, Pinterest, National Geographic, The Washington Post, YouTube, Blender o Industrial Light & Magic.</p>
  </div>
</article>

<article class="message">
  <a id="fiscal"></a>
  <div class="message-header">
    Datos fiscales
    <a class="headerlink" href="#fiscal">¶</a>
  </div>
  <div class="message-body">
    <p>
      Asociación cultural {{ organization.name }}<br>
      CIF {{ organization.cif }}<br>
      {{ organization.address }}<br>
      {{ organization.po_box }} {{ organization.city }}
    </p>

    <p>
      <i class="fas fa-credit-card"></i> {{ organization.bank}} | {{ organization.iban }}<br>
      <i class="fas fa-fingerprint"></i> {{ organization.registration_number }} <span class="content is-small">(NCI: Número Canario de Inscripción)</span>
    </p>
  </div>
</article>

<article class="message">
  <a id="board"></a>
  <div class="message-header">
    Junta directiva
    <a class="headerlink" href="#board">¶</a>
  </div>
  <div class="message-body">
    <p>Actualmente la <strong>junta directiva</strong> de {{ orgnizacion.name }} está formada por:</p>

  <table class="table is-hoverable is-fullwidth">
   <tbody>
    {% for row in board %}
    <tr>
      <th>{{ row.role }}</th>
      <td>{{ row.member.full_name }}</td>
      <td style="text-align: right;">Socio Nº <span class="tag is-info">{{ row.pk }}</span></td>
    </tr>
    {% endfor %}
   </tbody>
  </table>

  </div>
</article>

<article class="message">
  <a id="docs"></a>
  <div class="message-header">
    Documentación
    <a class="headerlink" href="#docs">¶</a>
  </div>
  <div class="content message-body">
    <ul>
      <li><a href="https://github.com/pythoncanarias/docs/raw/master/asociacion/estatutos/estatutos.pdf">Estatutos</a></li>
      <li><a href="https://github.com/pythoncanarias/docs/tree/master/actas/junta-directiva">Actas de la junta directiva</a></li>
      <li><a href="https://github.com/pythoncanarias/docs/tree/master/actas/core">Actas del CORE</a> <span class="content is-small">(Comisión para la organización y realización de eventos)</span></li>
      <li><a href="https://github.com/pythoncanarias/docs/tree/master/logos/python-canarias">Logotipos</a></li>
      <li><a href="https://www.gobiernodecanarias.org/entidadesjuridicas/">Web de Entidades Jurídicas de la Dirección General de Transparencia y Participación Ciudadana</a></li>
    </ul>
  </div>
</article>

<article class="message">
  <a id="regulation"></a>
  <div class="message-header">
    Normativa de aplicación
    <a class="headerlink" href="#regulation">¶</a>
  </div>
  <div class="content message-body">
    <ul>
      <li><a href="https://www.boe.es/buscar/pdf/2003/BOE-A-2003-6500-consolidado.pdf">Ley 4/2003, de 28 de febrero, de Asociaciones de Canarias</a></li>
      <li><a href="http://www.gobiernodecanarias.org/boc/2007/038/001.html">Decreto 12/2007, de 5 de febrero, por el que se aprueba el Reglamento de Asociaciones de Canarias</a></li>
      <li><a href="https://www.boe.es/buscar/act.php?id=BOE-A-2002-25039">Ley 49/2002, de 23 de diciembre, de régimen fiscal de las entidades sin fines lucrativos y de los incentivos fiscales al mecenazgo</a></li>
      <li><a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2014-12328">Ley 27/2014, de 27 de noviembre, del Impuesto sobre Sociedades</a></li>
    </ul>
  </div>
</article>

{% endblock content %}
