{% extends "about/base.html" %}
{% load static utils %}

{% block content %}

<div class="content box">

<article id="join" class="message is-info anchor">

  <div class="message-header">
    <h1 class="dyn-anchor-heading">
    <i class="fas fa-people-carry"></i>
     No nos mires, ¡únete!
    <a class="dyn-anchor-link" href="#join"><i class="fas fa-link"></i></a>
    </h1>
  </div>

  <div class="message-body">
    <p>
    Python Canarias es una <strong>asociación sin ánimo de
    lucro</strong>. Para desarrollar nuestras actividades necesitamos
    un <strong>soporte económico</strong> que se convierte en servicios
    para la comunidad, principalmente en
    <a href="{% url 'events:past_events' %}">forma de eventos</a>. Las
    aportaciones de empresas colaboradoras y patrocinios son super
    importantes, pero aún así seguimos necesitando de otras ayudas.
    </p>
  </div>

  <p>Ser socio o socia de Python Canarias es apoyar el desarrollo
  tecnológico en nuestra región. Significa creer en un proyecto de la
  comunidad para la comunidad. Cada nueva persona que se une es un
  empujón que nos impulsa a seguir adelante.</p>

  <p>
  Si te animas a formar parte de Python Canarias, también queremos
  devolverte algo. En este sentido habrá <strong>descuentos en eventos y
  promociones con prioridad para socios y socias</strong>.  </p>



    <div class="fixed-grid has-2-cols">
      <div class="grid">

        <div class="cell has-text-centered">
          <p>Si todavía no eres socio, pulsa el siguiente botón
          para</p>
          <a href="{% url 'about:join_method' %}" class="link button
            is-warning is-medium is-outlined">Formar parte de la asociación</a>
          </p>
        </div>

        <div class="cell has-text-centered">
  <p>Si ya eres socio/a, pulsa en el siguiente botón para</p> <a
    class="button is-link is-medium is-outline" href="{% url
    'members:member_login' %}">Acceder como
    socio/a</a>
</div>
      </div>
    </div>
  </div>
</article>

{% endblock content %}
