{% extends "about/base.html" %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Versión</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Django</td>
            <td><code>{{ django_version }}</code></td>
        </tr>
        <tr>
            <td>Python</td>
            <td><code>{{ python_version }}</code></td>
        </tr>
        <tr>
            <td>Sistema operativo</td>
            <td><code>{{ os_version }}</code></td>
        </tr>
    </tbody>
</table>

{% endblock content %}
