@import './variables';
@import 'node_modules/bulma/bulma.sass';
@import './override';

.header-page {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #e5e5e5;
}

.content-page {
  max-width: 59rem;
  padding: 2rem 1rem;
}

.footer-page {
  padding: 1.7rem;
  background-color: #323948;
  color: #d9dadd;
  font-weight: 400;
}
