@import './variables';
@import 'node_modules/bulma/bulma.sass';
@import './override';


html {
  // source: https://stackoverflow.com/q/46463338
  -webkit-font-feature-settings: 'liga' 0, 'clig' 0;
  -moz-font-feature-settings: 'liga' 0, 'clig' 0;
  font-feature-settings: 'liga' 0, 'clig' 0;
  scroll-behavior: smooth;
}

body {
  font-size: 1.03rem;
}

.no-scroll {
  overflow: hidden;
}

.inactive-link {
  pointer-events: none;
}

.header-page {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #ececec;
  background-color: $header-bg;
}

.content-page {
  max-width: 59rem;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} + 1px);
  padding: 2rem 0rem 5rem 0rem;

  @include from($custom-mobile) {
    & > .box {
      padding: 2rem;
    }
  }

  &.is-narrow {
    max-width: 47rem;
  }
}

.footer-page {
  color: #ebebeb;
  background-color: $footer-bg;
  line-height: $footer-mobile-height;
  font-weight: 400;

  @include from($desktop) {
    line-height: $footer-height;
  }

  & .column {
    padding: 0;
  }

  & a {
    color: $yellow-text;

    &:hover {
      text-decoration: underline;
    }
  }
}
