{% load static %}
{% load utils %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="favicon.ico">

  <title>{% block title %}Python Canarias{% endblock title %}</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{{ assets|get_asset_key:'commons/vendor.min.css' }}">
  {% block style %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

  {% include "header.html" %}

  <div class="{% block default_content_class %}container content-page{% endblock %} {% block content_class %}{% endblock %}">
    {% block content %} {% endblock content %}
  </div>

  {% include "footer.html" %}

  <script src="{{ assets|get_asset_key:'commons/custom.min.js' }}"></script>
  {% block js %}{% endblock %}

</body>
</html>
