<footer class="footer-page">

  <div class="columns is-centered">
    <div class="column is-3 has-text-centered">
      <h5 class="title is-6">Features</h5>
      <ul>
        <li><a class="has-text-grey-dark" href="#">Cool stuff</a></li>
        <li><a class="has-text-grey-dark" href="#">Random feature</a></li>
        <li><a class="has-text-grey-dark" href="#">Team feature</a></li>
        <li><a class="has-text-grey-dark" href="#">Stuff for developers</a></li>
        <li><a class="has-text-grey-dark" href="#">Another one</a></li>
        <li><a class="has-text-grey-dark" href="#">Last time</a></li>
      </ul>
    </div>

    <div class="column is-3 has-text-centered">
      <h5 class="title is-6">Resources</h5>
      <ul>
        <li><a class="has-text-grey-dark" href="#">Resource</a></li>
        <li><a class="has-text-grey-dark" href="#">Resource name</a></li>
        <li><a class="has-text-grey-dark" href="#">Another resource</a></li>
        <li><a class="has-text-grey-dark" href="#">Final resource</a></li>
      </ul>
    </div>

    <div class="column is-3 has-text-centered">
      <h5 class="title is-6">About</h5>
      <ul>
        <li><a class="has-text-grey-dark" href="#">Team</a></li>
        <li><a class="has-text-grey-dark" href="#">Locations</a></li>
        <li><a class="has-text-grey-dark" href="#">Privacy</a></li>
        <li><a class="has-text-grey-dark" href="#">Terms</a></li>
      </ul>
    </div>
  </div>

</footer>
