{% load utils %}
{% load static %}

<nav class="header-page navbar is-paddingless">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class="logo" src="{% static 'commons/img/logo_text_white.png' %}" alt="Python Canarias" />
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end has-text-centered">
      <a class="navbar-item {% is_active 'events:index' %}" href="{% url 'events:index' %}">
        Eventos
      </a>
      <a class="navbar-item {% is_active 'about:index' %}" href="{% url 'about:index' %}">
        Asociación
      </a>
    </div>
  </div>
</nav>
