{% load utils %}

<nav class="header-page navbar is-paddingless">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class="logo" src="{{ assets|get_asset_key:'commons/img/logo_text_white.png' }}" alt="Python Canarias" />
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end has-text-centered">
      <a class="navbar-item" href="{% url 'events:index' %}">
        Eventos
      </a>
      <a class="navbar-item" href="{% url 'about:index' %}">
        Asociación
      </a>
      <a class="navbar-item" href="{% url 'events:coc' %}">
        Código de conducta
      </a>
    </div>
  </div>
</nav>
