{% extends "events/base.html" %}

{% load static %}
{% load utils %}
{% load social %}

{% block title %}Entrada comprada - {{ block.super }}{% endblock %}

{% block body_class %}tickets-page ticket-bought-page{% endblock %}

{% block content %}
  <div class="box">
    <h1 class="title is-blue">¡Felicidades!<br/>¡Ya has conseguido tu entrada!</h1>

    <h2 class="subtitle is-5">{{ event.name }}</h2>

    <div class="tags is-centered">
      <div class="tag is-medium">
        <span class="icon">
          <i class="fas fa-calendar-alt"></i>
        </span>
        <span>{{ event.start_date|as_date }}</span>
      </div>

      <div class="tag is-medium">
        <span class="icon">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        <span>{{ event.venue.name }}</span>
      </div>

      <div class="tag is-medium">
        <span class="icon">
          <i class="fas fa-ticket-alt"></i>
        </span>
        <span>{{ article.category.name }}</span>
      </div>
    </div>

    <div><strong>Tu ticket es:</strong></div>
    <div>{{ ticket }}</div>

    <p class="text-info-mail">En breve te enviaremos a tu dirección de correo un pdf con el código QR de la entrada.</p>

    <p>
      Si quieres hacernos un poco de publicidad en Twitter, nos harías un gran favor, solo pulsa en
      el siguiente enlace y deja que tus seguidores sepan a donde ir para pedirte un autógrafo:
    </p>
    <div class="notification is-warning">
      <span class="icon"> <i class="fab fa-lg fa-twitter-square"></i> </span>
    {% tweet event.get_full_url %}
    Ya he comprado mi entrada para el {{ event.name }}. ¿Nos vemos allí? #{{ event.slug }} @pythoncanarias
    {% endtweet %}
    </div>
  </div>
{% endblock content %}
