{% extends "events/base.html" %}

{% load static %}
{% load utils %}

{% block title %}Compra de entradas - {{ block.super }}{% endblock %}

{% block body_class %}tickets-page buy-article-page{% endblock %}

{% block content %}
  <script src="https://checkout.stripe.com/checkout.js"></script>

  <script>
    window.STRIPE_SETTINGS = {
      key: '{{ stripe_public_key }}',
      description: '{{ event.slug }} / {{ article.category.name }}',
      amount: parseInt('{{ article.price_in_cents }}'),
    }
  </script>

  <div class="box">
    <h1 class="title is-blue">Compra de entradas</h1>
    <h2 class="subtitle">{{ event.name }}</h2>

    <div class="tags">
      <div class="tag is-medium price-tag">
        <b>Entrada {{ article.category.name }}:</b>&nbsp;{{ article.price }}&nbsp;€
      </div>
    </div>

    <article class="message is-info">
      <div class="message-body">
        <h3 class="title is-6">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Asistencia de menores
        </h3>
        Los menores de 16 años deberán ir acompañados de padre, madre o tutor legal.
        Menores entre los 16 y los 18 años deberán presentar autorización del tutor legal
        con fotocopia de su DNI.
      </div>
    </article>

    <form method="POST" action="." id="buy-article-form">
      {% csrf_token %}

      <div class="columns is-multiline">
        <div class="column is-12-mobile is-6-tablet">
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input type="text" id="name-input" name="name" size="32" class="input" placeholder="Nombre">
            </div>
          </div>
        </div>

        <div class="column is-12-mobile is-6-tablet">
          <div class="field">
            <label class="label">Apellidos</label>
            <div class="control">
              <input type="text" id="surname-input" name="surname" size="32" class="input" placeholder="Apellidos">
            </div>
          </div>
        </div>

        <div class="column is-12-mobile is-6-tablet">
          <div class="field">
            <label class="label">Teléfono</label>
            <div class="control">
              <input type="text" id="phone-input" name="phone" size="16" class="input" placeholder="Teléfono">
            </div>
            <p class="help">
              Opcional (Solo lo usaremos para resolver posibles problemas con la compra de la entrada)
            </p>
          </div>
        </div>
      </div>

      <p>
        Las entradas seleccionadas se compran a través de la pasarela de pago de Python Canarias;
        esto significa que el importe de dichas entradas se pagará en la cuenta bancaria de la organización.
      </p>

      <p>
        Acepto usar la pasarela de pago del organizador y deseo continuar con la compra de las entradas.
      </p>

      <div class="terms">
        <label class="checkbox">
          <input type="checkbox">
          Acepto la <a href="{% url 'events:privacy' %}">Política de Privacidad</a>.
        </label>
      </div>

      <div class="message is-info message-tickets-on-mail">
        <div class="message-body">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Recuerda que las entradas se enviarán a tu correo electrónico, que
          se te pedirá al realizar el pago.
        </div>
      </div>

      {% with id='name-validation-message' message='Debe rellenar el campo Nombre' %}
        {% include "./forms/validation-message.html" with id=id message=message is_hidden=True only %}
      {% endwith %}

      {% with id='surname-validation-message' message='Debe rellenar el campo Apellidos' %}
        {% include "./forms/validation-message.html" with id=id message=message is_hidden=True only %}
      {% endwith %}

      {% with id='checkboxes-validation-message' message='Debe aceptar la casilla de verificación' %}
        {% include "./forms/validation-message.html" with id=id message=message is_hidden=True only %}
      {% endwith %}

      <div class="control has-text-centered">
        <button id="button-go-to-payment" class="button is-warning">Continuar</button>
      </div>

      <div class="spinner-background is-hidden">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
    </form>
  </div>
{% endblock content %}
