{% extends "events/base.html" %}

{% load static %}
{% load utils %}

{% block body_class %}tickets-page buy-article-page{% endblock %}

{% block content %}
  <div class="box">
    <h1 class="title is-blue">Compra de entradas</h1>
    <h2 class="subtitle">{{ event.name }}</h2>

    <div class="tags">
      <div class="tag is-medium price-tag">
        <b>Entrada {{ article.category.name }}:</b>&nbsp;{{ article.price }}&nbsp;€
      </div>
    </div>

    <article class="message is-info">
      <div class="message-body">
        <h3 class="title is-6">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Asistencia de menores
        </h3>
        Los menores de 16 años deberán ir acompañados de padre, madre o tutor legal.
        Menores entre los 16 y los 18 años deberán presentar autorización del tutor legal
        con fotocopia de su DNI.
      </div>
    </article>

    <form method="POST" action=".">
      {% csrf_token %}

      <div class="columns is-multiline">
        <div class="column is-12-mobile is-6-tablet">
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input type="text" name="name" size="32" class="input" placeholder="Nombre">
            </div>
          </div>
        </div>

        <div class="column is-12-mobile is-6-tablet">
          <div class="field">
            <label class="label">Apellidos</label>
            <div class="control">
              <input type="text" name="surname" size="32" class="input" placeholder="Apellidos">
            </div>
          </div>
        </div>

        <div class="column is-12-mobile is-6-tablet">
          <div class="field">
            <label class="label">Teléfono</label>
            <div class="control">
              <input type="text" name="phone" size="32" class="input" placeholder="Teléfono">
            </div>
            <p class="help">
              Opcional (Solo lo usaremos para resolver posibles problemas con la compra de la entrada)
            </p>
          </div>
        </div>
      </div>

      <p>
        Las entradas seleccionadas se compran a través de la pasarela de pago de Python Canarias;
        esto significa que el importe de dichas entradas se pagará en la cuenta bancaria de la organización.
      </p>

      <p>
        Acepto usar la pasarela de pago del organizador y deseo continuar con la compra de las entradas.
      </p>

      <label class="checkbox">
        <input type="checkbox">
        Acepto el uso de mis datos por parte de Python Canarias.
      </label>

      <label class="checkbox">
        <input type="checkbox">
        Acepto los <a href="">Términos y Condiciones</a> y la <a href="">Política de Privacidad</a>.
      </label>

      <label class="checkbox">
        <input type="checkbox">
        Acepto que los datos facilitados con el fin de comprar mi entrada sean comunicados al organizador Python Canarias
        para que me envíe comunicaciones comerciales.
      </label>

      <article class="message is-info message-tickets-on-mail">
        <div class="message-body">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Recuerda que las entradas se enviarán a tu correo electrónico.
        </div>
      </article>

      <div class="control has-text-centered">
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="{{ stripe_public_key }}"
          data-amount="{{ article.price_in_cents }}"
          data-name="Stripe.com"
          data-label="Continuar"
          data-description="{{ event.slug }} / {{ article.category.name }}"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-currency="EUR"
          data-zip-code="true"
        ></script>
      </div>

    </form>
  </div>
{% endblock content %}
