{% extends "events/base.html" %}

{% load static %}
{% load utils %}

{% block body_class %}event-page{% endblock %}
{% block default_content_class %}{% endblock %}

{% block content %}

<div>
  <div class="event-header" {% if event.hero %} style="background-image: url('{{ event.hero.url }}');" {% endif %}>
    <div class="inner">
      <h1 class="title is-1">{{ event.name }}</h1>
      <div class="subtitle is-4">
        <span class="event-header-date">
          <i class="far fa-calendar-alt"></i> {{ event.start_date|as_date }}
        </span>
        <span class="event-header-venue">
          <i class="fas fa-map-marker-alt"></i> {{ event.venue.name }}
        </span>
      </div>
      <a href="" class="button is-white">Comprar entrada</a>
    </div>
  </div>

  <nav class="event-menu">
    <a class="event-menu-item" href="#speakers">Ponentes</a>
    <a class="event-menu-item" href="#schedule">Agenda</a>
    <a class="event-menu-item" href="#venue">Localización</a>
    <a class="event-menu-item" href="#sponsors">Entidades</a>
  </nav>

  <section id="event" class="section event has-background-white">
    <div class="container">
      {% filter as_markdown %} {{ event.description }} {% endfilter %}
    </div>
  </section>

  <section id="speakers" class="section speakers">
    <div class="container">
      <h1 class="title section-title">Ponentes</h1>
      <div class="columns is-multiline is-mobile">
        {% for speaker in event.speakers %}
          <div class="column is-6-mobile is-4-tablet is-3-desktop">
            <div class="box speaker-box">
              <span class="speaker-photo" style="background-image: url('{{ speaker.photo_url }}');"></span>
              <h2 class="speaker-name">{{ speaker.name }} {{ speaker.surname }}</h2>
              <span class="speaker-show-more">Ver más</span>
              <div class="speaker-socials">
                {% for social in speaker.socials_for_display %}
                  <a href="{{ social.href }}" target="_blank"><i class="fab fa-{{ social.code }}"></i></a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="schedule" class="section schedule has-background-white">
    <div class="container">
      <h1 class="title section-title">Agenda</h1>

      <div class="schedule-table">
        {% for row in event.schedule_for_display %}
          {% if row.type == 'tracks' %}
            <div class="schedule-tracks columns is-gapless is-hidden-mobile">
              {% for track in row.tracks %}
                <div class="column">
                  <div class="schedule-title">
                    {{ track.name }}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% elif row.type == 'plenary_scheduled_item' %}
            <div class="schedule-row columns is-gapless">
              <div class="column is-12">
                <div class="schedule-slot schedule-slot-plenary schedule-slot-{{ row.schedule.slot.category.code }}">
                  <div class="slot-title">
                    {% if row.schedule.slot.category.code == 'coffee' %}
                      <i class="fas fa-coffee icon-slot-category"></i>
                    {% elif row.schedule.slot.category.code == 'meal' %}
                      <i class="fas fa-utensils icon-slot-category"></i>
                    {% endif %}
                    {{ row.schedule.slot.name }}
                  </div>

                  <div>
                    <div class="slot-hours"><i class="fas fa-clock"></i> {{ row.schedule.when_for_display }}</div>
                    <div class="slot-location"><i class="fas fa-map-marker-alt"></i> {{ row.schedule.location.name }}</div>
                  </div>

                  {% if row.schedule.speakers.exists %}
                    <div class="slot-speakers">
                      {% for speaker in row.schedule.speakers.all %}
                        <div class="slot-speaker"><i class="far fa-user"></i> {{ speaker }}</div>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% elif row.type == 'scheduled_items' %}
            <div class="schedule-columns columns is-gapless">
              {% for track in row.tracks %}
                {% if track.scheduled_items|length %}
                  <div class="schedule-title is-hidden-tablet">{{ track.track.name }}</div>
                {% endif %}
                <div class="schedule-column column is-12-mobile">
                  {% for scheduled_item in track.scheduled_items %}
                    <div class="schedule-slot size-{{ scheduled_item.size_for_display }}">
                      <div class="slot-title">{{ scheduled_item.slot.name }}</div>

                      <div>
                        <div class="slot-hours"><i class="fas fa-clock"></i> {{ scheduled_item.when_for_display }}</div>
                        <div class="slot-location"><i class="fas fa-map-marker-alt"></i> {{ scheduled_item.location.name }}</div>
                      </div>

                      <div class="slot-speakers">
                        {% for speaker in scheduled_item.speakers.all %}
                          <div class="slot-speaker"><i class="far fa-user"></i> {{ speaker }}</div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="venue" class="section venue">
    <div class="container">
      <h1 class="title section-title">Localización</h1>
      <div>
        <div class="columns is-multiline">
          <div class="column is-12-tablet is-6-desktop">
            <div class="map-wrapper">
              <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="//www.openstreetmap.org/export/embed.html?bbox={{ event.venue.longitude|sum_float:-0.0017 }}%2C{{ event.venue.latitude|sum_float:0.0008 }}%2C{{ event.venue.longitude|sum_float:0.0017 }}%2C{{ event.venue.latitude|sum_float:-0.0008 }}&amp;layer=mapnik&amp;marker={{ event.venue.latitude }}%2C{{ event.venue.longitude }}">
              </iframe>
              <a class="link-open-map" href="https://www.openstreetmap.org/?mlat={{ event.venue.latitude }}&amp;mlon={{ event.venue.longitude }}#map=16/{{ event.venue.latitude }}/{{ event.venue.longitude }}" target="_blank">Ver mapa más grande</a>
            </div>
          </div>
          <div class="column is-12-tablet is-6-desktop">
            <strong class="venue-name">
              <i class="fas fa-map-marker-alt"></i> {{ event.venue.name }}
            </strong>
            <address>
              <p class="venue-address">{{ event.venue.address }}</p>
            </address>
            <hr/>
            <p class="venue-description">{{ event.venue.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsors" class="section sponsors has-background-white">
    <div class="container">
      <h1 class="title section-title">Entidades</h1>
      {% for role, categories in event.memberships_for_display.items %}
        <h1 class="role-title title is-4 has-text-centered">{{ role.display_name }}</h1>
        {% for category, organizations in categories.items %}
          {% if category.name != role.name %}
            <h2 class="category-title subtitle is-5 has-text-centered">{{ category.display_name }}</h2>
          {% endif %}
          <div class="columns is-mobile is-multiline is-centered">
            {% for organization in organizations %}
              <div class="column is-6-mobile is-3-tablet">
                <a class="organization-box" href="{{ organization.url }}" title="{{ organization.name }}" target="_blank">
                  <img src="{{ organization.logo.url }}"/>
                </a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </section>

</div>

{% endblock content %}
