{% extends "events/base.html" %}

{% load utils %}

{% block body_class %}list-events-page{% endblock %}
{% block content_class %}is-narrow{% endblock %}

{% block content %}
<h1 class="title title-list-events">Próximos eventos</h1>

<section>
  {% for i in "123" %}
    <a class="box event-box" href="2018/pydaytf/">
      <div class="columns is-mobile">
        <div class="column is-3-mobile is-2-tablet">
          <img src="https://via.placeholder.com/150x150" alt="">
        </div>

        <div class="column">
          <h1 class="title is-4">PyDay Tenerife 2018</h1>
          <div>
            <div class="event-date">
              <i class="far fa-calendar-alt"></i> 17/nov
            </div>
            <div class="event-location">
              <i class="fas fa-map-marker-alt"></i> Universidad de La Laguna
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ut corporis harum esse sunt quam reprehenderit eveniet quos, cum quisquam ex maxime ipsum nisi, amet id consequuntur iusto repellat unde?
          </p>
        </div>
      </div>
    </a>
  {% endfor %}
</section>
{% endblock content %}
