{% extends "events/base.html" %}
{% load utils %}

{% block title %}Política de privacidad - {{ block.super }}{% endblock %}

{% block content %}

<div class="content box">

{% filter as_markdown %}

# Política de privacidad y protección de datos

## 1. Responsable del tratamiento

- Responsable del tratamiento: Asociación cultural Python Canarias
- Correo electrónico:	info@pythoncanarias.es

## 2. Cosas que nunca haremos

- Nunca te solicitaremos información personal a menos que realmente sea
  necesaria para prestarte los servicios que nos requieras.

- Nunca compartiremos tu información personal con nadie, excepto para cumplir
  con la ley o en caso de que contemos con tu autorización expresa.

- Nunca utilizaremos tus datos personales con una finalidad diferente a la
  expresada en esta política de privacidad.

## 3. Para qué usaremos tus datos

Los datos que nos facilites se usaran para:

- Gestionar consulta o peticiones de información.

- Informar sobre las actividades y eventos que se organizen
  por la asociación, unicamente en el caso de que se haya
  manifestado explicitamente este preferencia.

## 4. Duración del tratamiento de datos

Los datos se conservaran durante un plazo mínimo de doce meses al
amparo de la normativa de conservación de datos relativos a comunicaciones
electrónicas y redes públicas de comunicaciones, hasta el plazo que
prevé la normativa para hacer frente al ejercicio y defensa de reclamaciones.

## 5. Principios

En el tratamiento de tus datos personales, aplicaremos los siguientes principios
que se ajustan a las exigencias del nuevo reglamento europeo de protección de
datos:

- Principio de **licitud, lealtad y transparencia**: Requerimos tu consentimiento
  expreso para el tratamiento de tus datos personales para los fines específicos
  que informaremos previamente con transparencia.

- Principio de **minimización de datos**: Sólo solicitaremos los datos estrictamente
  necesarios en relación con los fines para los que los usaremos.

- Principio de **limitación del plazo de conservación**: los datos serán mantenidos
  durante no más tiempo del necesario para los fines del tratamiento, en función
  de la finalidad, te informaremos del plazo de conservación correspondiente, en
  el caso de suscripciones, periódicamente revisaremos nuestras listas y
  eliminaremos aquellos registros inactivos durante un tiempo considerable.

- Principio de **integridad y confidencialidad**: Tus datos serán tratados de tal
  manera que se garantice una seguridad adecuada de los datos personales y se
  garantice confidencialidad. Debes saber que implementaremos todas las
  precauciones necesarias para evitar el acceso no autorizado o uso indebido de
  tus datos por parte de terceros.

{% endfilter %}

</div>

{% endblock content %}
