{% extends "events/base.html" %}

{% load static %}

{% block title %}{{event.name}}Sorteo - {{ block.super }}{% endblock %}

{% block body_class %}raffle-page{% endblock %}
{% block content_class %}is-narrow{% endblock %}

{% block content %}

<div class="box">
  <h1 class="title is-blue">Sorteo</h1>
  <h2 class="subtitle">{{ event.name }}</h2>

  <div class="gifts">
    <span class="tag is-dark is-medium">
      <i class="fas fa-gift"></i>
      REGALOS
    </span>
    <ol>
      {% for gift in gifts %}
        <li>{{ gift }}</li>
      {% endfor %}
    </ol>
  </div>

  <hr>

  <div class="candidate_tickets">
    <p>
      Se sortearán <strong>{{ gifts.count }} regalos</strong> entre <strong>{{ candidate_tickets.count }} tickets</strong> candidatos!
    </p>
    <p>
      Probabilidad de que te toque algo: <span class="tag is-info">{{ success_probability|floatformat:2 }} %</span>
    </p>
  </div>


    </div>
  </div>
</div>

{% endblock content %}
