{% extends "events/base.html" %}

{% load static %}
{% load utils %}

{% block title %}Seleccionar el tipo de ticket - {{ block.super }}{% endblock %}

{% block body_class %}tickets-page select-article-page{% endblock %}

{% block content %}
  <div class="box">
    <h1 class="title is-blue">Seleccione el tipo de ticket</h1>
    <h2 class="subtitle">{{ event.name }}</h2>

    <div class="columns">
      {% for article in active_articles %}
        <div class="column is-6-desktop">
          <a href="{% url 'events:ticket_purchase' id_article=article.pk %}" class="box ticket-article">
            <h1 class="title is-4">
              {{ article.category.name }}
              <span class="tag is-medium price-tag">{{ article.price }} €</span>
            </h1>
            <p class="subtitle">{{ article.category.description|as_markdown }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
