{% extends "learn/base.html" %}

{% load utils %}

{% block title %}Aprende Python - {{ block.super }}{% endblock %}

{% block body_class %}learn-index{% endblock %}

{% block content %}

<h1 class="title">Aprende Python</h1>

<p>En esta sección podrás encontrar <strong>recursos de aprendizaje Python</strong>. Están clasificados por etiquetas:</p>

<ul>
  {% for label in labels %}
    <li>
        <a class="label"
           style="background-color: #{{ label.color }}; color: #{{ label.foreground_color }}"
           href="{% url "learn:resources_by_label" label=label %}">
           {{ label }}
           <span class="badge">{{ label.resources.all.count }}</span>
        </a>
    </li>  
  {% endfor %}
</ul>

{% endblock content %}
