{% extends "learn/base.html" %}

{% block content %}

<p>En esta sección podrás encontrar <b>recursos de aprendizaje Python</b>. Están
clasificados por etiquetas:</p>

<ul class="labels">
  {% for label in labels %}
    <li>
        <a class="label"
           style="background-color: #{{ label.color }}; color: #{{ label.foreground_color }}"
           href="{% url "learn:resources_by_label" label=label %}">
           {{ label }}
           <span class="badge">{{ label.resources.all.count }}</span>
        </a>
    </li>  
  {% endfor %}
</ul>

{% endblock content %}
