{% extends "learn/base.html" %}
{% load utils %}

{% block title %}Aprende Python - {{ label }} - {{ block.super }}{% endblock %}


{% block content %}

<h1 class="is-1 title">
  <i class="fa-solid fa-tag"></i>
  {{ label }}
</h1>

<div class="fixed-grid has-1-cols-mobile">
  <div class="grid">
  {% for resource in resources %}
    <div class="cell box">
      <h2 class="subtitle is-3">
        {{ resource.name }}
      </h2>
      <h3 class="subtitle">
        <i class="fas fa-link"></i>
        <a class="url" href="{{ resource.url }}">{{ resource.url }}</a>
      </h3>
          <ul class="label-list">
          {% for label in resource.labels.all %}
          <li>
            <a class="label"
              style="background-color: #{{ label.color }}; color: #{{ label.foreground_color }}"
              href="{% url "learn:resources_by_label" label=label %}">
              {{ label }}
            </a>
          </li>
          {% endfor %}
          </ul>
    </div><!-- de cell -->
  {% endfor %}
  </div>
</div>


{% endblock content %}
