{% extends "learn/base.html" %}

{% load utils %}

{% block title %}Aprende Python - {{ block.super }}{% endblock %}

{% block body_class %}learn-resources_by_label{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url "learn:index" %}">Aprende Python</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ label }}</a></li>
  </ul>
</nav>

<h1 class="title"><i class="fas fa-tag"></i> {{ label }}</h1>

<table class="table resources">
  {% for resource in resources %}
    <tr>
      <td>
        <a class="resource" href="{{ resource.url }}">{{ resource }}</a>
      </td>
      <td>
        {% for label in resource.labels.all %}
          <a class="label"
            style="background-color: #{{ label.color }}; color: #{{ label.foreground_color }}"
            href="{% url "learn:resources_by_label" label=label %}">
            {{ label }}
          </a>
        {% endfor %}
      </td>
    </tr>  
  {% endfor %}
</table>

{% endblock content %}
