{% extends "learn/base.html" %}
{% load utils %}

{% block title %}Aprende Python - {{ label }} - {{ block.super }}{% endblock %}


{% block content %}

<h1 class="is-1 title">
  <i class="fa-solid fa-tag"></i>
  {{ label }}
</h1>

{% for resource in resources %}
  <div class="card">
  <div class="card-content">
    <div class="content">
      {{ resource }}
    </div>
  </div>a
  <footer class="card-footer">
        {% for label in resource.labels.all %}
          <a class="label"
            style="background-color: #{{ label.color }}; color: #{{ label.foreground_color }}"
            href="{% url "learn:resources_by_label" label=label %}">
            {{ label }}
          </a>
        {% endfor %}
  </footer>
</div>
{% endfor %}


<table class="table">
  {% for resource in resources %}
    <tr>
      <td>
        <a class="resource" href="{{ resource.url }}">
          <span class="subtitle is-3">
          {{ resource }}
          </span>
        </a>
      </td>
      <td>
        <ul class="label-list">
        {% for label in resource.labels.all %}
          <li>
          <a class="label"
            style="background-color: #{{ label.color }}; color: #{{ label.foreground_color }}"
            href="{% url "learn:resources_by_label" label=label %}">
            {{ label }}
          </a>
        </ul>
        {% endfor %}
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock content %}
