{% extends "base.html" %}
{% load utils %}

{% block title %}Código de conducta - {{ block.super }}{% endblock %}

{% block content %}

<div class="content box">

{% filter as_markdown %}

# Código de conducta

Python Canarias es una comunidad diversa que mantiene una reputación como grupo amigable, integrador, inspirador y dinámico. Nos gustaría mantener ese espíritu por lo cual pedimos a todos los participantes, ponentes, organizadores y patrocinadores de todos nuestros eventos que sigan este código de conducta (CoC por sus siglas en inglés de "Code of Conduct").

Si tiene preguntas en relación a este CoC, por favor contacte con el Core de Python Canarias en este email [{{ organization.email }}](mailto:{{ organization.email }}). Los miembros del Core de Python Canarias son los únicos que verán sus preguntas, y serán tratadas de manera confidencial.

## Sea agradable con los demás

Confiamos en que los asistentes se tratarán de una manera que refleje la amplia visión de que la diversidad y la cordialidad son fortalezas de nuestra comunidad que se deben celebrar y fomentar.

Además, creemos en que los asistentes tienen derecho a:

- ser tratados con cortesía, dignidad y respeto;

- estar libres de cualquier forma de discriminación, victimización, acoso o bullying;

- disfrutar de un entorno libre de comportamientos desagradables, lenguaje inapropiado e imágenes inadecuadas.

## No sea irrespetuoso

Python Canarias se dedica a proporcionar una comunidad respetuosa y libre de acoso para todos y todas. No toleramos el acoso o bullying de ningún miembro de la comunidad y en ninguna de sus formas. Esto no sólo se aplica a los socios, sino también a cualquiera que elija unirse a la amplia comunidad de Python Canarias, desarrolladores o integradores a través de eventos o interacciones.

El acoso incluye comentarios ofensivos de tipo verbal/electrónico relacionados a características personales o elecciones, imágenes sexuales o comentarios en público o en espacios en línea, intimidación deliberada, bullying, acecho, persecución, acoso mediante fotografías o grabaciones, alteración continua en las charlas, chats IRC, encuentros digitales, encuentros físicos u otros eventos, contacto físico inapropiado o atención sexual incómoda. Cuando se pida a un participante parar cualquier comportamiento de acoso o bullying deberá obedecer inmediatamente.

## Sea profesional y no haga spam

Consideramos nuestros eventos como un gran escaparate del trabajo de nuestra comunidad y nos gustaría animar al contacto entre personas y las charlas relacionadas con el trabajo, así como mantener unas presentaciones en la conferencia con significado e interesantes para cualquiera.

Por lo tanto:

- sólo se permiten actividades de difusión de empresas ó de contratación de personal en la conferencia a los patrocinadores acordados.

- solicitar presentaciones - fuera de las sesiones oficiales de contratación - focalizadas en temas de Python, no sobre contratación.

## Resolviendo problemas

Si aparecieran problemas cubiertos en este CoC, por favor póngase en contacto con Python Canarias. Cualquier queja será confidencial, tomada en serio, investigada y tratada de forma apropiada.

La organización de Python Canarias se reserva el derecho de llevar a cabo alguna de las siguientes acciones en relación a las quejas presentadas:

- Decirle a la persona que concierne, de forma adecuada, que pare/modifique su comportamiento. Se le expedirá una advertencia.

- Aplicarle alguna acción a la persona que concierne si el comportamiento continua.

- Pedirle a la persona que concierne que abandone el recinto inmediatamente y/o prohibirle su asistencia a futuros eventos organizados por Python Canarias (sin reembolso).

- Informar a las autoridades locales sobre el incidente.

## Contacto

Core de Python Canarias: [{{ organization.email }}](mailto:{{ organization.email }})

---

Este documento está basado en el [Código de Conducta de EuroPython 2018](https://ep2018.europython.eu/en/coc/) y licenciado bajo [creative commons license](http://creativecommons.org/licenses/by-nc-sa/3.0/).

{% endfilter %}

</div>

{% endblock content %}
