{
  'extends': 'stylelint-config-standard',
  'rules': {
    'at-rule-empty-line-before': null,
    'string-quotes': 'single',
    'max-empty-lines': 2,
    'unit-whitelist': [['em', 'rem', 'vh'], {
      'ignoreProperties': {
        'px': ['/^border/']
      }
    }],
  },
}
