[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-sugar = "*"
ipython = "*"
"fabric3" = "*"
pydotplus = "*"
pytest-django = "*"
yapf = "*"
rope = "*"

[packages]
django = ">=2.1.2"
stripe = "*"
pillow = "*"
prettyconf = "*"
pyqrcode = "*"
"markdown2" = "*"
"jinja2" = "*"
pdfkit = "*"
django-extensions = "*"
"psycopg2-binary" = "==2.7.5"
qr = "*"
redis = "==2.10.6"
rq = "*"
django-leaflet = "*"
django-rq = "*"
sendgrid = "*"
django-colorfield = "*"
openpyxl = "==2.4.9"
django-import-export = "*"
reportlab = "*"
