[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-sugar = "*"
ipython = "*"
"fabric3" = "*"
pydotplus = "*"
pytest-django = "*"
yapf = "*"

# [requires]
# python_version = ">3.6"

[packages]
django = ">=2.1.2"
stripe = "*"
pillow = "*"
prettyconf = "*"
pyqrcode = "*"
"markdown2" = "*"
"jinja2" = "*"
pdfkit = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
qr = "*"
redis = "*"
rq = "*"
django-leaflet = "*"
django-rq = "*"
