flake8
pytest
fabric3
pydotplus
pytest-django
yapf
rope
django==2.1.2
stripe
pillow
prettyconf
pyqrcode
markdown2
jinja2
pdfkit
django-extensions
psycopg2
qr
redis
rq
django-leaflet
django-rq
sendgrid
django-colorfield
django-import-export
reportlab
