{% load utils %}
{% if menu %}
<aside class="menu">
 <div class="box">
  {% for section in menu %}
  <p class="menu-label"> {{ section.title }} </p>
  <ul class="menu-list">
    {% for menu_item in section %}
    {% with active=menu_item.is_active %}
    <li>{% spaceless %}
      <a href="{{ menu_item.url }}"{% if active %} class="is-active"{% endif %}>
        {{ menu_item.text|safe }}
      </a></li>{% endspaceless %}
    {% endwith %}
    {% endfor %}
  </ul>
  {% endfor %}
 </div>
</aside>
{% endif %}
