{% load static utils %}<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="{{ assets|get_asset_key:'commons/img/favicon.ico' }}">

  <title>{% block title %}{{ organization.name }}{% endblock title %}</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">

  <link rel="stylesheet" href="{{ assets|get_asset_key:'commons/vendor.min.css' }}">
  {% block style %}{% endblock %}
  {% block libs %} {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

  {% include "header.html" %}

  {% block container %}

    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="notification {{ message.tags|msgtag_to_bulmaclass }}">
            <button class="delete"></button>
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="{% block default_content_class %}container content-page{% endblock %}{% block content_class %}{% endblock %}{% if menu %} is-wide{% endif %}">
      {% if menu %}
      <div class="columns is-display">
        <div class="column is-one-quarter">
          {% block menu %}{% endblock menu %}
        </div>
        <div class="column is-three-quarters">
    {% endif %}
    {% block content %} {% endblock content %}
    {% if menu %}
        </div>
      </div>
    {% endif %}
  </div>
  {% endblock container %}
  {% include "footer.html" %}
  <script src="{{ assets|get_asset_key:'commons/custom.min.js' }}"></script>
  {% block js %}{% endblock %}
</body>
</html>
