{% load static %}
{% load utils %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="{{ assets|get_asset_key:'commons/img/favicon.ico' }}">

        <title>{% block title %}{{ title }}{% endblock title %}</title>

        <link rel="stylesheet" href="{{ assets|get_asset_key:'commons/vendor.min.css' }}">

        {% block style %}{% endblock %}
    </head>

    <body>

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Python
                    Canarias</a></h5>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Features</a>
            <a class="p-2 text-dark" href="#">Enterprise</a>
            <a class="p-2 text-dark" href="#">Support</a>
            <a class="p-2 text-dark" href="#">Pricing</a>
          </nav>
          <a class="btn btn-outline-primary" href="#">Sign up</a>
        </div>

        <div class="container">
        {% block content %}

        {% endblock content %}
        </div>

        {% include "footer.html" %}

        <script src="{{ assets|get_asset_key:'commons/vendor.min.js' }}"></script>

        {% block js %}{% endblock %}

    </body>
</html>
