{% load static utils %}<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Python Canarias">
  <meta name="author" content="Python Canarias">

  <link rel="icon" href="{% static 'commons/img/favicon.ico' %}">

  <title>{% block title %}
    {% if title %}
      {{ title }} - {{ organization.name }}
    {% else %}
      {{ organization.name }}
    {% endif %}
    
  {% endblock title %}</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">

  {% block styles %}
  <link rel="stylesheet" href="{% static 'commons/css/bulma.min.css' %}">
  <link rel="stylesheet" href="{% static 'commons/css/custom.css' %}">
  {% endblock styles %}

</head>
<body class="{% block body_class %}{% endblock %} has-navbar-fixed-top">
  .
  {% include "header.html" %}

  {% if breadcrumbs %}
    {% include "includes/breadcrumbs.html" %}
  {% endif %}
  
  {% block container %}

  {% if messages %}
    <div class="messages">
      {% for message in messages %}
       <div class="notification {{ message.tags|msgtag_to_bulmaclass }}">
         <button class="delete"></button>
         {{ message }}
       </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="{% block default_content_class %}container content-page{% endblock %} {% block content_class %}{% endblock %}
      {% if menu %}
        is-wide
      {% endif %}
    " id="content-page">
    {% if menu %}
      <div class="columns is-display">
        <div class="column is-one-quarter">
          {% block menu %}{% endblock menu %}
        </div>
        <div class="column is-three-quarters">
    {% endif %}
    {% if title %}<h1 class="title">{{ title }}</h1>{% endif %}
    {% if subtitle %}<h2 class="subtitle">{{ subtitle }}</h2>{% endif %}
    {% block content %} {% endblock content %}
    {% if menu %}
        </div>
      </div>
    {% endif %}
  </div>
  {% endblock container %}

  {% include "footer.html" %}

  {% block js %}
    <script src="{% static 'commons/js/custom.js' %}"></script>
    {% if current_date.month == 12 and current_date.day >= 21 and current_date.day <= 31  %}
      <script src="https://app.embed.im/snow.js" defer></script>
    {% endif %}
  {% endblock %}

</body>
</html>
