<footer class="footer-page has-text-centered" style="margin-top: 4em;">

  <div class="columns">
    <div class="column has-text-weight-light">
      <div class="footer-column">
        <h2 class="subtitle"><i class="fas fa-award"></i> Créditos</h2>
        <ul class="footer-column-items">
          <li>Imágenes vectoriales por <a href="https://flaticon.com">Flaticon</a></li>
          <li>Fotografías por <a href="https://unsplash.com">Unsplash</a></li>
        </ul>
      </div>
    </div>


    <div class="column has-text-weight-light">
      <div class="footer-column">
        <h2 class="subtitle"><i class="fas fa-copyright"></i> {{ organization.name }}</h2>
        <ul class="footer-column-items">
          <li>{{ organization.full_address }}</li>
          <li><a href="mailto:{{ organization.email }}">{{ organization.email }}</a></li>
          <li><a href="{% url 'about:index' %}">Sobre la asociación</a></li>
        </ul>
      </div>
    </div>


    <div class="column has-text-weight-light">
      <div class="footer-column">
        <h2 class="subtitle"><i class="fas fa-gavel"></i> Legal</h2>
        <ul class="footer-column-items">
          <li><a href="{% url 'legal:legal_notice' %}">Aviso legal</a></li>
          <li><a href="{% url 'legal:privacy_policy' %}">Política de privacidad</a></li>
          <li><a href="{% url 'legal:cookie_policy' %}">Política de cookies</a></li>
          <li><a href="{% url 'legal:coc' %}">Código de conducta</a></li>
          <li><a href="{% url 'legal:purchase_terms' %}">Condiciones de compra</a></li>
        </ul>
      </div>
    </div>

</div>
</footer>
