{% load utils %}
<footer class="footer-page has-text-centered">
  <a class="footer-button" id="scrollToTopBtn" href=""
    ><img
      class="footer__button--image"
      src="{{ assets|get_asset_key:'commons/img/ico-arrow.svg' }}"
      alt="scroll button up"
      titile="scroll button up"
  /></a>
  <div class="columns">
    <div class="column has-text-weight-light is-one-third-desktop">
      <div class="footer-column">
        <h2 class="subtitle"><i class="fas fa-award"></i> Créditos</h2>
        <ul class="footer-column-items">
          <li>Imágenes vectoriales por <a href="https://flaticon.com">Flaticon</a></li>
          <li>Fotografías por <a href="https://unsplash.com">Unsplash</a></li>
        </ul>
      </div>
    </div>


    <div class="column has-text-weight-light">
      <div class="footer-column">
        <h2 class="subtitle"><i class="fas fa-copyright"></i> {{ organization.name }}</h2>
        <ul class="footer-column-items">
          <li>{{ organization.address }}</li>
          {% if organization.rest_address %}
          <li>{{ organization.rest_address }}</li>
          {% endif %}
          <li>{{ organization.postal_code }}, {{ organization.city }}</li>
          <li>{{ organization.phone }}</li>
          <li><a href="mailto:{{ organization.email }}">{{ organization.email }}</a></li>
          <li><a href="{% url 'about:index' %}">Sobre la asociación</a></li>
        </ul>
      </div>
    </div>


    <div class="column has-text-weight-light">
      <div class="footer-column">
        <h2 class="subtitle"><i class="fas fa-gavel"></i> Legal</h2>
        <ul class="footer-column-items">
          <li><a href="{% url 'legal:legal_notice' %}">Aviso legal</a></li>
          <li><a href="{% url 'legal:privacy_policy' %}">Política de privacidad</a></li>
          <li><a href="{% url 'legal:cookie_policy' %}">Política de cookies</a></li>
          <li><a href="{% url 'legal:coc' %}">Código de conducta</a></li>
          <li><a href="{% url 'legal:purchase_terms' %}">Condiciones de compra</a></li>
        </ul>
      </div>
    </div>

</div>
</footer>
