{% load static utils %}

<nav class="header-page navbar is-paddingless is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class="logo"
            src="{% static 'commons/img/logo-python-canarias-white.svg' %}"
            alt="{{ organization.name }}"
            height="100px"
            />
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-item  {% is_active 'about:index' %} js-nav-item" href="{% url 'about:index' %}">
          <i class="fas fa-user-friends"></i>
         Asociación
         </a>
          <div class="navbar-dropdown is-boxed js-nav-dropdown collapsable--close">
              <a class="navbar-item {% is_active 'about:us' %}" href="{% url 'about:us' %}">Información</a>
              <a class="navbar-item {% is_active 'about:history' %}" href="{% url 'about:history' %}">Historia</a>
              <a class="navbar-item {% is_active 'about:join' %}" href="{% url 'about:join' %}">¡Únete!</a>
              <a class="navbar-item {% is_active 'about:allies' %}" href="{% url 'about:allies' %}">Aliados</a>
              <a class="navbar-item {% is_active 'about:faq' %}" href="{% url 'about:faq' %}">FAQ</a>
          </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item {% is_active 'events:index' %} js-nav-item" href="{% url 'events:index' %}">
          <i class="fas fa-birthday-cake"></i>
          Eventos
          </a>
          <div class="navbar-dropdown is-boxed js-nav-dropdown collapsable--close">
            <a class="navbar-item {% is_active 'events:next_event' %}"
               href="{% url 'events:next_event' %}">
              Próximo evento
            </a>
            <a class="navbar-item {% is_active 'events:past_events' %}" href="{% url 'events:past_events' %}">Eventos pasados</a>
            </div>
      </div>

      <a class="navbar-item {% is_active 'jobs:index' %}" href="{% url 'jobs:index' %}">
          <i class="fas fa-laptop-code"></i>
          Empleo
      </a>

      <a class="navbar-item {% is_active 'learn:index' %}" href="{% url 'learn:index' %}">
          <i class="fas fa-graduation-cap"></i>
          Aprende
      </a>

      {% if request.user.is_authenticated %}
        <a class="navbar-item {% is_active 'members:homepage' %}" href="{% url 'members:profile' %}">
          <i class="fas fa-user-cog"></i>
          {{ request.user.username }}
        </a>
      {% else %}
        <a class="navbar-item" href="{% url 'members:login' %}">
          <i class="fas fa-sign-in-alt"></i>
        </a>
      {% endif %}
    </div>
  </div>
</nav>
