{% load utils %}

<nav class="header-page navbar is-paddingless">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class="logo" src="{{ assets|get_asset_key:'commons/img/logo-python-canarias-white.svg' }}" alt="Python Canarias" />
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end has-text-centered">
      <a class="navbar-item {% is_active 'about:index' %}" href="{% url 'about:index' %}">
        <i class="fas fa-user-friends"></i>
        Asociación
      </a>
      <a class="navbar-item {% is_active 'events:index' %}" href="{% url 'events:index' %}">
        <i class="fas fa-birthday-cake"></i>
        Eventos
      </a>
      <a class="navbar-item {% is_active 'jobs:index' %}" href="{% url 'jobs:index' %}">
        <i class="fas fa-laptop-code"></i>
        Empleo
      </a>

      {% if request.user.is_authenticated %}
        <a class="navbar-item {% is_active 'members:homepage' %}" href="{% url 'members:profile' %}">
          <i class="fas fa-user-cog"></i>
          {{ request.user.username }}
        </a>
      {% else %}
        <a class="navbar-item" href="{% url 'members:login' %}">
          <i class="fas fa-sign-in-alt"></i>
        </a>
      {% endif %}
    </div>
  </div>
</nav>
