@font-face {
    font-family: 'Subject';
    src: url('../fonts/AirAmerica-Regular.otf');
}

@font-face {
    font-family: 'Body';
    src: url('../fonts/Amaranth-Bold.otf');
}

@font-face {
    font-family: 'Fine';
    src: url('../fonts/Existence-Light.otf');
}
