{% extends "commons/base.j2" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ my_base_dir }}/ticket.css">
{% endblock %}

{% block content %}
    <h1>{{ ticket.ticket_type.event }}</h1>

    <table>
        <tr>
            <td class="field">ASISTENTE:</td>
            <td>
                {{ ticket.surname }}, {{ ticket.name }}
                <br>
                {{ ticket.email }}
            </td>
            <td class="qr" rowspan="4">
                <img src="http://127.0.0.1:8000/events/ticket/test/" alt="Keycode of the ticket">
                <br>
                <div class="keycode">{{ ticket.keycode }}</div>
            </td>
        </tr>
        <tr>
            <td class="field">FECHA:</td>
            <td>
                {{ ticket.ticket_type.event.start_date.strftime('%d/%m/%Y') }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="field">TIPO DE ENTRADA:</td>
            <td>{{ ticket.ticket_type.name }}</td>
            <td></td>
        </tr>
        <tr>
            <td class="field">PRECIO DE LA ENTRADA:</td>
            <td>{{ ticket.ticket_type.price }} €</td>
            <td></td>
        </tr>
    </table>
{% endblock %}
