{% load static %}<!doctype html>
<html class="no-js" lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Python Canarias</title>
    <meta name="description" content="Python Canarias">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <meta property="og:url"                content="https://pythoncanarias.es" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Python Canarias" />
    <meta property="og:description"        content="Web de la asociación Python Canarias" />
    <meta property="og:image"              content="{% static 'homepage/img/logo.png' %}" />

    <meta name="twitter:title" content="Python Canarias">
    <meta name="twitter:description" content="Web de la asociación Python Canarias.">
    <meta name="twitter:image" content="{% static 'homepage/img/logo.png' %}">
    <meta name="twitter:card" content="summary_large_image">

</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<div class="bg"></div>

<div class="slogan">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'homepage/img/logo_text.png' %}" class="img-fluid" alt="Python Canarias"/>
            </div>
        </div>

    <div class="row">
        <div class="col-sm-12 buttons">
            <a href="https://pyday.pythoncanarias.es" target="_blank" class="btn btn-primary">PyDay TF 2018</a>
            <a href="https://micropython.pythoncanarias.es/" target="_blank" class="btn btn-primary">MicroPython</a>
        </div>
    </div>
    <h4>Para más noticias, pásate por nuestro <a href="https://medium.com/pythoncanarias" target="_blank">blog</a></h4>
    <div class="social">
        <a href="https://twitter.com/pythoncanarias"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/pythoncanarias/"><i class="fab fa-instagram"></i></a>
        <a href="https://telegram.me/pythoncanarias"><i class="fab fa-telegram"></i></a>
        <a href="https://www.youtube.com/channel/UCIH5U0UXk-NL1HdFSo__63A"><i class="fab fa-youtube"></i></a>
        <a href="mailto:info@pythoncanarias.es"><i class="fas fa-envelope-open"></i></a>
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md">

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>
