<section id="fee" class="message is-info anchor">
  <div class="message-header">
    <h2 class="dyn-anchor-heading ">
    Cuota
    <a class="dyn-anchor-link" href="#fee"><i class="fas fa-link"></i></a>
    </h2>
  </div>
  <div class="message-body">

  <p>La cuota de socio/socia es anual y su cuantía está recogida
  en el
  <a href="https://github.com/pythoncanarias/pycan-docs/blob/main/asociacion/estatutos/estatutos.pdf">artículo
  24 de los estatutos de la asociación</a>:</p>
    <ul>
      <li><span class="tag is-info is-medium">20€</span> Importe general.</li>
      <li><span class="tag is-primary is-medium">10€</span> Estudiantes y/o personas desempleadas.</li>
    </ul>
  </div>
</section>

