{% extends "commons/base.j2" %}

{% block content %}

<footer>
    <table>
        <tr>
            <td class="footer__left">
                <i class="fas fa-cloud"></i>
                pythoncanarias.es
            </td>
            <td class="footer__right">
                <i class="fas fa-print"></i>
                <span class="timestamp">{{ timestamp }}</span>
            </td>
        </tr>
    </table>
</footer>

{% endblock %}

