<div class="schedule-columns columns is-gapless">
  {% for track in tracks %}
    {% if track.scheduled_items|length %}
      <div class="schedule-title is-hidden-tablet">Track {{forloop.counter}}: {{ track.track.name }}</div>
    {% endif %}
    <div class="schedule-column column is-12-mobile">
      {% for scheduled_item in track.scheduled_items %}

        {% include "../modals/slot-modal.html" with scheduled_item=scheduled_item only %}

        <div class="schedule-slot size-{{ scheduled_item.size_for_display }}">
          <a class="slot-title" href="#slot={{ scheduled_item.slot.id }}">{{ scheduled_item.slot.name }}</a>

          <div>
            <div class="slot-hours"><i class="fas fa-clock"></i> {{ scheduled_item.when_for_display }}</div>
            <div class="slot-location"><i class="fas fa-map-marker-alt"></i> {{ scheduled_item.location.name }}</div>
          </div>

          <div class="slot-speakers">
            {% for speaker in scheduled_item.speakers.all %}
              <div class="slot-speaker"><i class="far fa-user"></i> {{ speaker }}</div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
