{% extends "base.html" %}
{% load static utils leaflet_tags %}

{% block hero %}
{% if event %}<div class="container">
{% if event.hero %}
  <div class="hero">
{% else %}
  <div class="hero is-small">
{% endif %}
    <div class="hero-body">
    {% if event.hero %}
      <img src="{{ event.hero.url }}">
    {% else %}
      <h1 class="title is-1">{{ event.name }}</h1>
      <h2 class="subtitle is-4">
        <span class="event-header-date">
          <i class="far fa-calendar-alt"></i> {{ event.start_date|as_short_date }}
        </span> | {{ event.venue.name }}
      </h2>
    {% endif %}
  {% include 'events/includes/event-header.html' with event=event %}
  </div>
</div>{% endif %}
{% endblock hero %}

{% block styles %}
  {{ block.super }}
  <link rel="styleheet" href="{% static 'events/css/events.css' %}">
  <style type="text/css" media="screen">
.event-item {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
}
  </style>
{% endblock styles %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'events/custom.min.js' %}"></script>

  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}
