{% extends "base.html" %}

{% load utils %}
{% load leaflet_tags %}

{% block style %}
  <link rel="stylesheet" href="{{ assets|get_asset_key:'events/custom.min.css' }}">
  <style type="text/css" media="screen">
.event-item {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
}
  </style>
{% endblock style %}

{% block js %}
  {{ block.super }}
  <script src="{{ assets|get_asset_key:'events/custom.min.js' }}"></script>

  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}
