{% extends "events/base.html" %}
{% load static utils controls %}

{% block js %}
  {{ block.super }}
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
    window.STRIPE_SETTINGS = {
      key: '{{ stripe_public_key }}',
      description: '{{ event.slug }} / {{ article.category.name }}',
      amount: parseInt('{{ article.price_in_cents }}'),
    }
  </script>
{% endblock js %}

{% block content %}

<div class="box">

  <div class="tags">
    <div class="tag is-medium price-tag">
      <b>Entrada {{ article.category.name }}:</b>&nbsp;{{ article.price }}&nbsp;€
    </div>
    <span>
      <i class="fas fa-shopping-cart"></i>
      Quedan <b>{{ article.num_available_tickets }}</b> disponible{{ article.num_available_tickets|pluralize }}
    </span>
  </div>

  <form method="POST" action="." id="buy-article-form">
  {% csrf_token %}

  <div class="columns is-multiline">

    <div class="column is-12-mobile is-4-tablet">

      {% text_field form.name id='name-input' placeholder='Nombre' %}

    </div>

    <div class="column is-12-mobile is-8-tablet">
      {% text_field form.surname id='surname-input' placeholder='Apellidos' %}
    </div>

    <div class="column is-12-mobile is-4-tablet">
      {% tel_field form.phone id='phone-input' placeholder='Teléfono' %}
    </div>

    <div class="column is-12-mobile is-4-tablet">
      {% checkbox_field form.privacy_policy id='chk_privacy_policy' %}
    </div>

    <div class="column is-12-mobile is-4-tablet">
      {% checkbox_field form.purchase_terms id='chk_purchase_terms' %}
    </div>

    <div class="column is-12-mobile is-12-tablet">
        <span class="icon">
          <i class="fas fa-info-circle"></i>
        </span>
        Las entradas se enviarán a tu correo electrónico
        (que se solicitará al realizar el pago)
    </div>

    <div class="column is-12-mobile is-12-tablet">
      <button id="button-go-to-payment"
              class="button is-warning">Continuar</button>
    </div>

    <p class="is-warning is-centered">
      Pulsa <a href="{% url 'events:ticket_purchase_nocc' id_article=article.id %}">aquí</a> si no dispones de tarjeta bancaria
    </p>

    <div class="spinner-background is-hidden">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
  </form>
</div>
{% endblock content %}
