{% extends "events/base.html" %}
{% load static utils %}

{% block content %}

    <article class="message is-info">
      <div class="message-header">
      <h1 class="title is-1">
        <a href="{% url 'events:detail_event' event=event %}">{{ event.name }}</a>
      </h1>
      <h2 class="subtitle is-3">
        Call for papers <i class="fas fa-inbox"></i>
      </h2>
      </div>

      <div class="message-body">

      <p><em>{{ event.short_description|as_markdown }}</em></p>
      <p>
        <i class="far fa-calendar-check"></i>
        El período de presentación de propuestas estará abierto hasta el <strong>{{ event.cfp_stop_at }}</strong>.
        <br>
        <i class="far fa-clock"></i>
        La duración máxima de la charla será de <strong>{{ event.default_slot_duration|duration_in_minutes }}<strong> minutos.
      </p>

      <form action="./" method="post" class="uniForm">
      {% csrf_token %}
        <div class="columns">
          <div class="column is-half">{{ form.name }}</div>
          <div class="column is-half">{{ form.surname }}</div>
        </div>

        <div class="columns">
          <div class="column is-half">{{ form.email }}</div>
          <div class="column is-half">{{ form.title }}</div>
        </div>
        <div class="columns">
            <div class="column is-full">
              {{ form.description }}
            </div>
        </div>
        <div class="columns">
            <div class="column is-full">
              <input class="input is-rounded has-background-warning"
                     style="width: auto" type="submit"
                     value="Enviar propuesta"
                     name="ok" id="pb_submit"/>
            </div>
        </div>
        </form>
      </div>
    </article>

{% endblock content %}
