{% extends "events/base.html" %}

{% load static utils crispy_forms_tags %}

{% block title %}Call For Papers - {{ evento }} - {{ block.super }}{% endblock %}

{% block content %}

<div class="content">
  <h2>
    {{ event.name }}
  </h2>
  {{ event.short_description|as_markdown }}
</div>

<form action="./" method="post" class="uniForm">
  {% csrf_token %}
    {{ form|crispy }}
  <p>
  <input type="submit" value="Enviar propuesta" name="ok" id="pb_submit"/>
  </p>
</form>

{% endblock content %}
