{% extends "events/base.html" %}
{% load static leaflet_tags utils l10n %}

{% block content %}

{% include 'events/includes/event-tabs.html' with section='location' %}

<div class="columns is-multiline">

  <div class="column is-half">
      <strong class="venue-name">
        {% if event.venue.website %}
            <a href="{{ event.venue.website }}"><i class="fas fa-info-circle"></i> {{ event.venue.name }}</a>
          {% else %}
            <i class="fas fa-map-marker-alt"></i> {{ event.venue.name }}
          {% endif %}
      </strong>
      {% if not event.venue.is_online %}
        <p>
          <address>
            <a class="venue-address">
              {% localize off %}
                <a href="https://maps.google.com/maps?q={{ event.venue.latitude }},{{ event.venue.longitude }}">
                {{ event.venue.address }}
                </a>
              {% endlocalize %}
          </address>
      </p>
      {% endif %}
  </div>

  <div class="column is-half">
    <p class="venue-description">{{ event.venue.description|as_markdown }}</p>
  </div>

{% if event.venue.photo %}
  <div class="column is-one-third">
        {% if event.venue.photo %}
          <a href="{{ event.venue.photo.url }}">
            <img class="venue-photo"
                 src="{{ event.venue.photo.url }}"
                 alt="Fotografía de la localización">
          </a>
        {% endif %}
  </div>
  <div class="column is-two-thirds">
    <section id="venue" class="message venue">

      {% if event.venue.is_online %}
        <div class="venue-youtube map-section">
          <img src="{% static 'events/img/youtube-logo.png' %}">
        </div>
      {% else %}
        <div class="map-wrapper">
          {% localize off %}
            {% leaflet_map "event-map" %}
            <a class="link-open-map" href="https://www.openstreetmap.org/?mlat={{ event.venue.latitude }}&amp;mlon={{ event.venue.longitude }}#map=16/{{ event.venue.latitude }}/{{ event.venue.longitude }}" target="_blank">Ver mapa más grande</a>
          {% endlocalize %}
        </div>
      {% endif %}

  </div>
</div>

{% else %}

  <div class="column is-full">
      {% if event.venue.is_online %}
        <div class="venue-youtube map-section">
          <img src="{% static 'events/img/youtube-logo.png' %}">
        </div>
      {% else %}
        <div class="map-wrapper">
            {% leaflet_map "event-map" %}
            <a class="link-open-map" href="https://www.openstreetmap.org/?mlat={{ event.venue.latitude }}&amp;mlon={{ event.venue.longitude }}#map=16/{{ event.venue.latitude }}/{{ event.venue.longitude }}" target="_blank">Ver mapa más grande</a>
        </div>
      {% endif %}

  </div>
{% endif %}

{% with event.venue as loc %}
  {% if loc.latitude and loc.longitude and loc.name %}
  <div class="column is-full has-text-centered coming-soon">
    <p class="lead">Pulsa aquí para <a href="{{ loc.url_google__directions }}">obtener
    instrucciones de cómo llegar a {{ loc.name }}
    usando Google Maps</a>
    </p>
  </div>
  {% endif %}
{% endwith %}


{% endblock content %}

{% block js %}
{{ block.super }}

{% localize off %}
  <script type="text/javascript">
    window.addEventListener('map:init', function (e) {
        const map = e.detail.map;
        const coordinates = ['{{ event.venue.latitude }}', '{{ event.venue.longitude }}'];
        const zoom = 17;
        map.setView(coordinates, zoom);
        L.marker(coordinates).addTo(map);
    }, false);
  </script>
{% endlocalize %}
{% endblock js %}


