{% extends "events/base.html" %}
{% load static leaflet_tags utils l10n %}

{% block content %}

<div>
  <div class="event-header" {% if event.hero %} style="background-image: url('{{ event.hero.url }}');" {% endif %}>
    <div class="inner">
      <h1 class="title is-1">{{ event.name }}</h1>
      <div class="subtitle is-4">
        <span class="event-header-date">
          <i class="fa-solid fa-calendar"></i> {{ event.start_date|as_short_date }}
        </span>
        {% if event.venue %}
          <span class="event-header-venue">
            <i class="fas fa-map-marker-alt"></i> {{ event.venue.name }}
          </span>
        {% endif %}
      </div>

      {% if event.opened_ticket_sales %}
        <a href="{% url 'events:buy_ticket' slug=event.slug %}" class="button is-warning">Comprar entrada</a>
        {% if not event.external_tickets_url %}
          <br>
          <a href="{% url 'events:resend_ticket' event=event %}" class="link-to-resend-ticket">¿Has perdido tu entrada?</a>
          <br>
          <div class="tags has-addons ticket-availability">
            <span class="tag num-available-tickets">{{ event.num_available_tickets }} disponible{{ event.num_available_tickets|pluralize }}</span>
            <span class="tag is-primary num-sold-tickets">{{ event.num_sold_tickets }} vendida{{ event.num_sold_tickets|pluralize }}</span>
          </div>
        {% endif %}
      {% endif %}

      {% if not event.active %}
        <span class="tag is-danger is-medium">Evento cerrado</span>
      {% endif %}
    </div>
  </div>


  <nav class="event-menu">
    <a class="event-menu-item" href="#speakers">Ponentes</a>
    <a class="event-menu-item" href="#schedule">Agenda</a>
    <a class="event-menu-item" href="#venue">Localización</a>
    <a class="event-menu-item" href="#sponsors">Entidades</a>
    <a class="event-menu-item" href="{% url 'legal:coc' %}">Código de conducta</a>
    {% if event.raffle.closed %}
      <a class="event-menu-item" href="{% url 'events:raffle_results' event.slug %}">Sorteo</a>
    {% endif %}
    <a class="event-menu-item" href="{{ event.twitter_hashtag_url }}">
      <i class="fab fa-twitter"></i>
      {{ event.qualified_hashtag }}
    </a>
  </nav>

{% if event.call_for_paper_is_open %}
  <section id="cfp" class="section cfp">
    <div class="container">
      <h1 class="title section-title">
        Call for papers
      </h1>
      <p class="has-text-centered"><strong>¡El <i>Call for papers</i> de este evento está abierto!</strong></p>
      <p class="has-text-centered">
        <a class="button is-warning"
           href="{% url 'events:call_for_papers' event=event %}">
          Envíanos tu propuesta
      </a></p>
      </p>
    </div>
  </section>
{% endif %}

  <section class="section what-is has-background-white">
    <div class="container">
      {% filter as_markdown %} {{ event.description }} {% endfilter %}
    </div>
  </section>


  <section id="speakers" class="section speakers anchor">
    <div class="container">
      <h1 class="title section-title dyn-anchor-heading">
        Ponentes
        <a class="dyn-anchor-link" href="#speakers"><i class="fas fa-link"></i></a>
      </h1>
      <div class="columns is-multiline is-mobile is-centered">
        {% for speaker in event.get_non_org_speakers %}

          {% include "./event-components/modals/speaker-modal.html" with speaker=speaker only %}

          <div class="column is-6-mobile is-4-tablet is-3-desktop">
            <div class="box speaker-box">
              <a href="#speaker={{ speaker.slug }}" class="speaker-box-link">
                <span class="speaker-photo" style="background-image: url('{{ speaker.photo_url }}');"></span>
                <h2 class="speaker-name">{{ speaker.name }} {{ speaker.surname }}</h2>
              </a>
              <div class="speaker-socials">
                {% for social in speaker.socials_for_display %}
                  <a href="{{ social.href }}" target="_blank"><i class="fab fa-{{ social.code }}"></i></a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% empty %}
          <div class="column is-full has-text-centered coming-soon">
            <p>
              <i class="fas fa-box-open"></i>
              Más información próximamente!
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <section id="schedule" class="section schedule has-background-white anchor">
    <div class="container">
      <h1 class="title section-title dyn-anchor-heading">
        <p>
          Agenda
          <a class="dyn-anchor-link" href="#schedule"><i class="fas fa-link"></i></a>
        </p>
      </h1>

      <div class="section-detail">
        <p><i class="fa-solid fa-calendar"></i> {{ event.start_date|as_short_date }}</p>
        <a id="add-to-google-calendar" target="_blank" href="{{ event.get_google_calendar_url }}">
        <i class="fa-solid fa-calendar"></i> Añadir a Google Calendar</a>
      </div>

      <div class="schedule-table">
        {% for row in event.schedule_for_display %}
          {% if row.type == 'tracks' %}
            {% include "./event-components/schedule/tracks.html" with tracks=row.tracks only %}
          {% elif row.type == 'plenary_scheduled_item' %}
            {% include "./event-components/schedule/plenary-scheduled-item.html" with schedule=row.schedule only %}
          {% elif row.type == 'scheduled_items' %}
            {% include "./event-components/schedule/scheduled-items.html" with tracks=row.tracks only %}
          {% endif %}
        {% empty %}
          <div class="column is-full has-text-centered coming-soon">
            <p>
              <i class="fas fa-box-open"></i>
              Más información próximamente!
            </p>
          </div>
        {% endfor %}
      </div>

      {% if event.schedule_for_display and not event.closed_schedule %}
      <div class="section-detail">
            <div class="tag is-warning is-medium not-closed-schedule centered">
            <i class="fas fa-info-circle"></i>
            La agenda aún no está cerrada!
          </div>
        </div>
      {% endif %}
    </div>
  </section>


  <section id="venue" class="section venue anchor">
    <div class="container">
      <h1 class="title section-title dyn-anchor-heading">
        Localización
        <a class="dyn-anchor-link" href="#venue"><i class="fas fa-link"></i></a>
      </h1>
      <div>
        <div class="columns is-multiline">
          {% if event.venue %}
            <div class="column is-12-tablet is-6-desktop">
            {% if event.venue.is_online %}
              <div class="venue-youtube map-section">
                <img src="{% static 'events/img/youtube-logo.png' %}">
              </div>
            {% else %}
              <div class="map-wrapper">
                {% localize off %}
                  {% leaflet_map "event-map" %}
                  <a class="link-open-map" href="https://www.openstreetmap.org/?mlat={{ event.venue.latitude }}&amp;mlon={{ event.venue.longitude }}#map=16/{{ event.venue.latitude }}/{{ event.venue.longitude }}" target="_blank">Ver mapa más grande</a>
                {% endlocalize %}
              </div>
            {% endif %}
            </div>
            <div class="column is-12-tablet is-6-desktop">
              <strong class="venue-name">
                {% if event.venue.website %}
                  <a href="{{ event.venue.website }}"><i class="fas fa-info-circle"></i> {{ event.venue.name }}</a>
                {% else %}
                  <i class="fas fa-map-marker-alt"></i> {{ event.venue.name }}
                {% endif %}
              </strong>
              {% if not event.venue.is_online %}
                <address>
                  <a class="venue-address">
                    {% localize off %}
                      <a href="https://maps.google.com/maps?q={{ event.venue.latitude }},{{ event.venue.longitude }}">
                        {{ event.venue.address }}
                      </a>
                    {% endlocalize %}
                  </p>
                </address>
              {% endif %}
              <hr/>
              <p class="venue-description">{{ event.venue.description|as_markdown }}</p>
              {% if event.venue.photo %}
                <hr/>
                <a href="{{ event.venue.photo.url }}"><img class="venue-photo" src="{{ event.venue.photo.url }}" alt="Fotografía de la localización"></a>
              {% endif %}
            </div>
          {% else %}
            <div class="column is-full has-text-centered coming-soon">
              <p>
                <i class="fas fa-box-open"></i>
                Más información próximamente!
              </p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% localize off %}
      <script type="text/javascript">
        window.addEventListener('map:init', function (e) {
            const map = e.detail.map;
            const coordinates = ['{{ event.venue.latitude }}', '{{ event.venue.longitude }}'];
            const zoom = 17;
            map.setView(coordinates, zoom);
            L.marker(coordinates).addTo(map);
        }, false);
      </script>
    {% endlocalize %}
  </section>


  <section id="sponsors" class="section sponsors has-background-white anchor">
    <div class="container">
      <h1 class="title section-title dyn-anchor-heading">
        Entidades
        <a class="dyn-anchor-link" href="#sponsors"><i class="fas fa-link"></i></a>
      </h1>
      {% for role, categories in event.memberships_for_display.items %}
        <h1 class="role-title title is-4 has-text-centered">{{ role.display_name }}</h1>
        {% for category, organizations in categories.items %}
          {% if category.name != role.name %}
            <h2 class="category-title subtitle is-5 has-text-centered">{{ category.display_name }}</h2>
          {% endif %}
          <div class="columns is-mobile is-multiline is-centered">
            {% for organization in organizations %}
              <div class="column is-6-mobile is-4-tablet">
                <a class="organization-box" href="{{ organization.url }}" title="{{ organization.name }}" target="_blank">
                  <img src="{{ organization.logo.url }}"/>
                </a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% empty %}
        <div class="column is-full has-text-centered coming-soon">
          <p>
            <i class="fas fa-box-open"></i>
            Más información próximamente!
          </p>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="past-events" class="section past-events anchor">
    <div class="container">
      <h1 class="title section-title dyn-anchor-heading">
        Eventos pasados
        <a class="dyn-anchor-link" href="#past-events"><i class="fas fa-link"></i></a>
      </h1>
      <div class="columns is-centered">
        {% for past_event in past_events %}
          <div class="column has-text-centered">
            <div class="past-event-box">
              <a href="{% url 'events:detail_event' slug=past_event.slug %}">
                <img src="{{ past_event.cover.url }}">
                <p class="past-event-details">
                  {{ past_event.name }}
                  <div class="tag is-rounded is-light">
                    {{ past_event.start_date|as_date }}
                  </div>
                </p>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="more-past-events has-text-centered">
        <a class="button is-info is-outlined" href="{% url 'events:past_events' %}">Ver más eventos pasados!</a>
      </div>
    </div>
  </section>

</div>

{% endblock content %}
