{% extends "events/base.html" %}
{% load static utils %}

{% block title %}{% endblock title %}

{% block content %}

{% include "events/includes/event-tabs.html" %}


{% if event.call_for_paper_is_open %}
  <section id="cfp" class="section cfp">
    <div class="container">
      <h1 class="title section-title">
        Call for papers
      </h1>
      <p class="has-text-centered"><strong>¡El <i>Call for papers</i> de este evento está abierto!</strong></p>
      <p class="has-text-centered">
        <a class="button is-warning"
           href="{% url 'events:call_for_papers' event=event %}">
          Envíanos tu propuesta
      </a></p>
      </p>
    </div>
  </section>
{% endif %}

  <section class="section what-is has-background-white">
    <div class="container">
      {% filter as_markdown %} {{ event.description }} {% endfilter %}
    </div>
  </section>


  {% comment %}<section id="speakers" class="section speakers anchor">{% endcomment %}
    {% comment %}<div class="container">{% endcomment %}
      {% comment %}<h1 class="title section-title dyn-anchor-heading">{% endcomment %}
        {% comment %}Ponentes{% endcomment %}
        {% comment %}<a class="dyn-anchor-link" href="#speakers"><i class="fas fa-link"></i></a>{% endcomment %}
      {% comment %}</h1>{% endcomment %}
      {% comment %}<div class="columns is-multiline is-mobile is-centered">{% endcomment %}
        {% comment %}{% for speaker in event.get_non_org_speakers %}{% endcomment %}

          {% comment %}{% include "./event-components/modals/speaker-modal.html" with speaker=speaker only %}{% endcomment %}

          {% comment %}<div class="column is-6-mobile is-4-tablet is-3-desktop">{% endcomment %}
            {% comment %}<div class="box speaker-box">{% endcomment %}
              {% comment %}<a href="#speaker={{ speaker.slug }}" class="speaker-box-link">{% endcomment %}
                {% comment %}<span class="speaker-photo" style="background-image: url('{{ speaker.photo_url }}');"></span>{% endcomment %}
                {% comment %}<h2 class="speaker-name">{{ speaker.name }} {{ speaker.surname }}</h2>{% endcomment %}
              {% comment %}</a>{% endcomment %}
              {% comment %}<div class="speaker-socials">{% endcomment %}
                {% comment %}{% for social in speaker.socials_for_display %}{% endcomment %}
                  {% comment %}<a href="{{ social.href }}" target="_blank"><i class="fab fa-{{ social.code }}"></i></a>{% endcomment %}
                {% comment %}{% endfor %}{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}{% empty %}{% endcomment %}
          {% comment %}<div class="column is-full has-text-centered coming-soon">{% endcomment %}
            {% comment %}<p>{% endcomment %}
              {% comment %}<i class="fas fa-box-open"></i>{% endcomment %}
              {% comment %}Más información próximamente!{% endcomment %}
            {% comment %}</p>{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}{% endfor %}{% endcomment %}
      {% comment %}</div>{% endcomment %}
    {% comment %}</div>{% endcomment %}
  {% comment %}</section>{% endcomment %}


  {% comment %}<section id="schedule" class="section schedule has-background-white anchor">{% endcomment %}
    {% comment %}<div class="container">{% endcomment %}
      {% comment %}<h1 class="title section-title dyn-anchor-heading">{% endcomment %}
        {% comment %}<p>{% endcomment %}
          {% comment %}Agenda{% endcomment %}
          {% comment %}<a class="dyn-anchor-link" href="#schedule"><i class="fas fa-link"></i></a>{% endcomment %}
        {% comment %}</p>{% endcomment %}
      {% comment %}</h1>{% endcomment %}

      {% comment %}<div class="section-detail">{% endcomment %}
        {% comment %}<p><i class="fa-solid fa-calendar"></i> {{ event.start_date|as_short_date }}</p>{% endcomment %}
        {% comment %}<a id="add-to-google-calendar" target="_blank" href="{{ event.get_google_calendar_url }}">{% endcomment %}
        {% comment %}<i class="fa-solid fa-calendar"></i> Añadir a Google Calendar</a>{% endcomment %}
      {% comment %}</div>{% endcomment %}

      {% comment %}<div class="schedule-table">{% endcomment %}
        {% comment %}{% for row in event.schedule_for_display %}{% endcomment %}
          {% comment %}{% if row.type == 'tracks' %}{% endcomment %}
            {% comment %}{% include "./event-components/schedule/tracks.html" with tracks=row.tracks only %}{% endcomment %}
          {% comment %}{% elif row.type == 'plenary_scheduled_item' %}{% endcomment %}
            {% comment %}{% include "./event-components/schedule/plenary-scheduled-item.html" with schedule=row.schedule only %}{% endcomment %}
          {% comment %}{% elif row.type == 'scheduled_items' %}{% endcomment %}
            {% comment %}{% include "./event-components/schedule/scheduled-items.html" with tracks=row.tracks only %}{% endcomment %}
          {% comment %}{% endif %}{% endcomment %}
        {% comment %}{% empty %}{% endcomment %}
          {% comment %}<div class="column is-full has-text-centered coming-soon">{% endcomment %}
            {% comment %}<p>{% endcomment %}
              {% comment %}<i class="fas fa-box-open"></i>{% endcomment %}
              {% comment %}Más información próximamente!{% endcomment %}
            {% comment %}</p>{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}{% endfor %}{% endcomment %}
      {% comment %}</div>{% endcomment %}

      {% comment %}{% if event.schedule_for_display and not event.closed_schedule %}{% endcomment %}
      {% comment %}<div class="section-detail">{% endcomment %}
            {% comment %}<div class="tag is-warning is-medium not-closed-schedule centered">{% endcomment %}
            {% comment %}<i class="fas fa-info-circle"></i>{% endcomment %}
            {% comment %}La agenda aún no está cerrada!{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}</div>{% endcomment %}
      {% comment %}{% endif %}{% endcomment %}
    {% comment %}</div>{% endcomment %}
  {% comment %}</section>{% endcomment %}


  {% comment %}<section id="venue" class="section venue anchor">{% endcomment %}
    {% comment %}<div class="container">{% endcomment %}
      {% comment %}<h1 class="title section-title dyn-anchor-heading">{% endcomment %}
        {% comment %}Localización{% endcomment %}
        {% comment %}<a class="dyn-anchor-link" href="#venue"><i class="fas fa-link"></i></a>{% endcomment %}
      {% comment %}</h1>{% endcomment %}
      {% comment %}<div>{% endcomment %}
        {% comment %}<div class="columns is-multiline">{% endcomment %}
          {% comment %}{% if event.venue %}{% endcomment %}
            {% comment %}<div class="column is-12-tablet is-6-desktop">{% endcomment %}
            {% comment %}{% if event.venue.is_online %}{% endcomment %}
              {% comment %}<div class="venue-youtube map-section">{% endcomment %}
                {% comment %}<img src="{% static 'events/img/youtube-logo.png' %}">{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}{% else %}{% endcomment %}
              {% comment %}<div class="map-wrapper">{% endcomment %}
                  {% comment %}{% leaflet_map "event-map" %}{% endcomment %}
                  {% comment %}<a class="link-open-map" href="https://www.openstreetmap.org/?mlat={{ event.venue.latitude }}&amp;mlon={{ event.venue.longitude }}#map=16/{{ event.venue.latitude }}/{{ event.venue.longitude }}" target="_blank">Ver mapa más grande</a>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}{% endif %}{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="column is-12-tablet is-6-desktop">{% endcomment %}
              {% comment %}<strong class="venue-name">{% endcomment %}
                {% comment %}{% if event.venue.website %}{% endcomment %}
                  {% comment %}<a href="{{ event.venue.website }}"><i class="fas fa-info-circle"></i> {{ event.venue.name }}</a>{% endcomment %}
                {% comment %}{% else %}{% endcomment %}
                  {% comment %}<i class="fas fa-map-marker-alt"></i> {{ event.venue.name }}{% endcomment %}
                {% comment %}{% endif %}{% endcomment %}
              {% comment %}</strong>{% endcomment %}
              {% comment %}{% if not event.venue.is_online %}{% endcomment %}
                {% comment %}<address>{% endcomment %}
                  {% comment %}<a class="venue-address">{% endcomment %}
                      {% comment %}<a href="https://maps.google.com/maps?q={{ event.venue.latitude }},{{ event.venue.longitude }}">{% endcomment %}
                        {% comment %}{{ event.venue.address }}{% endcomment %}
                      {% comment %}</a>{% endcomment %}
                  {% comment %}</p>{% endcomment %}
                {% comment %}</address>{% endcomment %}
              {% comment %}{% endif %}{% endcomment %}
              {% comment %}<hr/>{% endcomment %}
              {% comment %}<p class="venue-description">{{ event.venue.description|as_markdown }}</p>{% endcomment %}
              {% comment %}{% if event.venue.photo %}{% endcomment %}
                {% comment %}<hr/>{% endcomment %}
                {% comment %}<a href="{{ event.venue.photo.url }}"><img class="venue-photo" src="{{ event.venue.photo.url }}" alt="Fotografía de la localización"></a>{% endcomment %}
              {% comment %}{% endif %}{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}{% else %}{% endcomment %}
            {% comment %}<div class="column is-full has-text-centered coming-soon">{% endcomment %}
              {% comment %}<p>{% endcomment %}
                {% comment %}<i class="fas fa-box-open"></i>{% endcomment %}
                {% comment %}Más información próximamente!{% endcomment %}
              {% comment %}</p>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}{% endif %}{% endcomment %}
        {% comment %}</div>{% endcomment %}
      {% comment %}</div>{% endcomment %}
    {% comment %}</div>{% endcomment %}

    {% comment %}<script type="text/javascript">{% endcomment %}
      {% comment %}window.addEventListener('map:init', function (e) {{% endcomment %}
          {% comment %}const map = e.detail.map;{% endcomment %}
          {% comment %}const coordinates = ['{{ event.venue.latitude }}', '{{ event.venue.longitude }}'];{% endcomment %}
          {% comment %}const zoom = 17;{% endcomment %}
          {% comment %}map.setView(coordinates, zoom);{% endcomment %}
          {% comment %}L.marker(coordinates).addTo(map);{% endcomment %}
      {% comment %}}, false);{% endcomment %}
    {% comment %}</script>{% endcomment %}
  {% comment %}</section>{% endcomment %}


  {% comment %}<section id="sponsors" class="section sponsors has-background-white anchor">{% endcomment %}
    {% comment %}<div class="container">{% endcomment %}
      {% comment %}<h1 class="title section-title dyn-anchor-heading">{% endcomment %}
        {% comment %}Entidades{% endcomment %}
        {% comment %}<a class="dyn-anchor-link" href="#sponsors"><i class="fas fa-link"></i></a>{% endcomment %}
      {% comment %}</h1>{% endcomment %}
      {% comment %}{% for role, categories in event.memberships_for_display.items %}{% endcomment %}
        {% comment %}<h1 class="role-title title is-4 has-text-centered">{{ role.display_name }}</h1>{% endcomment %}
        {% comment %}{% for category, organizations in categories.items %}{% endcomment %}
          {% comment %}{% if category.name != role.name %}{% endcomment %}
            {% comment %}<h2 class="category-title subtitle is-5 has-text-centered">{{ category.display_name }}</h2>{% endcomment %}
          {% comment %}{% endif %}{% endcomment %}
          {% comment %}<div class="columns is-mobile is-multiline is-centered">{% endcomment %}
            {% comment %}{% for organization in organizations %}{% endcomment %}
              {% comment %}<div class="column is-6-mobile is-4-tablet">{% endcomment %}
                {% comment %}<a class="organization-box" href="{{ organization.url }}" title="{{ organization.name }}" target="_blank">{% endcomment %}
                  {% comment %}<img src="{{ organization.logo.url }}"/>{% endcomment %}
                {% comment %}</a>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}{% endfor %}{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}{% endfor %}{% endcomment %}
      {% comment %}{% empty %}{% endcomment %}
        {% comment %}<div class="column is-full has-text-centered coming-soon">{% endcomment %}
          {% comment %}<p>{% endcomment %}
            {% comment %}<i class="fas fa-box-open"></i>{% endcomment %}
            {% comment %}Más información próximamente!{% endcomment %}
          {% comment %}</p>{% endcomment %}
        {% comment %}</div>{% endcomment %}
      {% comment %}{% endfor %}{% endcomment %}
    {% comment %}</div>{% endcomment %}
  {% comment %}</section>{% endcomment %}

  {% comment %}<section id="past-events" class="section past-events anchor">{% endcomment %}
    {% comment %}<div class="container">{% endcomment %}
      {% comment %}<h1 class="title section-title dyn-anchor-heading">{% endcomment %}
        {% comment %}Eventos pasados{% endcomment %}
        {% comment %}<a class="dyn-anchor-link" href="#past-events"><i class="fas fa-link"></i></a>{% endcomment %}
      {% comment %}</h1>{% endcomment %}
      {% comment %}<div class="columns is-centered">{% endcomment %}
        {% comment %}{% for past_event in past_events %}{% endcomment %}
          {% comment %}<div class="column has-text-centered">{% endcomment %}
            {% comment %}<div class="past-event-box">{% endcomment %}
              {% comment %}<a href="{% url 'events:detail_event' event=past_event %}">{% endcomment %}
                {% comment %}<img src="{{ past_event.cover.url }}">{% endcomment %}
                {% comment %}<p class="past-event-details">{% endcomment %}
                  {% comment %}{{ past_event.name }}{% endcomment %}
                  {% comment %}<div class="tag is-rounded is-light">{% endcomment %}
                    {% comment %}{{ past_event.start_date|as_date }}{% endcomment %}
                  {% comment %}</div>{% endcomment %}
                {% comment %}</p>{% endcomment %}
              {% comment %}</a>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}{% endfor %}{% endcomment %}
      {% comment %}</div>{% endcomment %}
      {% comment %}<div class="more-past-events has-text-centered">{% endcomment %}
        {% comment %}<a class="button is-info is-outlined" href="{% url 'events:past_events' %}">Ver más eventos pasados!</a>{% endcomment %}
      {% comment %}</div>{% endcomment %}
    {% comment %}</div>{% endcomment %}
  {% comment %}</section>{% endcomment %}

</div>

{% endblock content %}
