{% extends "events/base.html" %}
{% load static utils l10n %}

{% block content %}

{% include 'events/includes/event-tabs.html' with section='sponsors' %}

{% for role, categories in event.memberships_for_display.items %}
  <h1 class="role-title title is-4 has-text-centered">{{ role.display_name }}</h1>
  {% for category, organizations in categories.items %}
    {% if category.name != role.name %}
      <h2 class="category-title subtitle is-5 has-text-centered">{{ category.display_name }}</h2>
    {% endif %}
    <div class="columns is-mobile is-multiline is-centered">
      {% for organization in organizations %}
        <div class="column is-6-mobile is-4-tablet">
          <a class="organization-box" href="{{ organization.url }}" title="{{ organization.name }}" target="_blank">
            <img src="{{ organization.logo.url }}"/>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  {% empty %}
  <div class="column is-full has-text-centered coming-soon">
    <p>
      <i class="fas fa-box-open"></i>
      Más información próximamente!
    </p>
  </div>
{% endfor %}


{% endblock content %}
