{% extends "events/base.html" %}

{% block content %}

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title is-centered">
          Early
        </p>
      </div>
      <div class="card-content has-text-centered">
        <h1 class="title">10€</h1>
        <ul class="subtitle">
          <li>A la venta el próximo dd/mm/yyyy</li>
          <li>20 entradas de compra adelantada</li>
          <li>Descuento por compra anticipada</li>
        </ul>
        <button type="button" class="button is-link is-fullwidth is-medium">Comprar ticket</button>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title is-centered">
          Normal
        </p>
      </div>
      <div class="card-content has-text-centered">
        <h1 class="title">12€</h1>
        <ul class="subtitle">
          <li>A la venta el dd/mm/yyyy</li>
          <li>100 entradas</li>
          <li>Precio normal</li>
        </ul>
        <button type="button" class="button is-link is-fullwidth is-medium">Comprar ticket</button>
      </div>
    </div>
  </div>

  <form action="." method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="pk_test_g6do5S237ekq10r65BnxO6S0"
      data-amount="999"
      data-name="Stripe.com"
      data-description="Example charge"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-zip-code="true"
    ></script>
    <input type="text" name="ticket_type" value="early">
  </form>
</div>

{% endblock content %}
