{% extends "events/base.html" %}

{% block content %}

 <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-6 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Early</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">10€</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>A la venta el próximo dd/mm/yyyy</li>
              <li>20 entradas d compra adelantada</li>
              <li>Descuento por compra anticipada</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block disabled btn-primary">Comprar ticket</button>
          </div>
        </div>
        <div class="card mb-6 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Normal</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">12€</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>A la venta el dd/mm/yyyy</li>
              <li>100 entradas</li>
              <li>Precion normal</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary disabled">Comprar ticket</button>
          </div>
        </div>
      </div>



<form action="." method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_g6do5S237ekq10r65BnxO6S0"
    data-amount="999"
    data-name="Stripe.com"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
    <input type="text" name="ticket_type" value="early">
</form>
{% endblock content %}
