{% extends "events/base.html" %}

{% block title %}No hay entradas disponibles - {{ block.super }}{% endblock %}

{% block content_class %}is-narrow{% endblock %}

{% block content %}
<section class="box has-text-centered">
  <h1 class="title is-blue">
    {{ event.name }}
  </h1>
  <h2 class="subtitle">
    Por el momento no se pueden comprar las entradas para este evento.
  </h2>

  <p>
    Esperamos poder ofertar las entradas en breve.
    Recuerde que siempre puede ponerse en contacto con nosotros usando nuestro correo:
    <a href="mailto://{{ contact_email }}">
      <code>{{ contact_email }}</code>
    </a>
  </p>
</section>
{% endblock content %}
