{% extends "events/base.html" %}


{% block content %}
  <div class="box">

    <h1 class="title">No se ha podido realizar el cobro</h1>

    <h2 class="subtitle">Por el momento no se ha realizado ningún cargo a su cuenta.</h2>

    <div class="content">
      {% include 'events/includes/contact_us.html' %}

      <p>El identificador de la transacción es <code><b>{{ charge_id }}</b></code>.</p>

      <p>Sentimos las molestias que esto le pueda ocasionar.</p>
    </div>

  </div>
{% endblock content %}
