{% extends "events/base.html" %}
{% load utils %}

{% block content %}

{% include 'events/includes/raffle-header.html' %}

<div class="box">
  {% if event.raffle.opened %}

    {% if gifts %}
      <div class="candidate_tickets">
        <p>
          Se sortearán <strong>{{ gifts.count }} regalos</strong>
          entre <strong>{{ candidate_tickets.count }} tickets</strong> candidatos
          sin reemplazo!
        </p>
        {% if success_probability %}
          <p>
          Probabilidad de que te toque algo:
          <span class="tag is-info">{{ success_probability|floatformat:2 }} %</span>
          </p>
        {% endif %}
      </div>
      <div class="launch-raffle">
        <a class="button is-primary is-outlined"
           href="{% url 'events:raffle_gift' event=event pk=gifts.0.pk %}">
          <i class="fas fa-atom"></i>
          &nbsp;Comenzar sorteo!
        </a>
      </div>
    {% endif %}
  {% else %}
    <div class="closed-raffle">
      <span class="tag is-warning is-medium">
        <i class="fas fa-lock"></i>
        Este sorteo está cerrado! Se realizó el
        {{ event.raffle.closed_at|as_short_date }}
      </span>
      <a class="view-results"
         href="{% url 'events:raffle_results' event=event %}">
        <i class="fas fa-table"></i>
        Ver resultados
      </a>
    </div>
  {% endif %}

</div>

{% endblock content %}
