{% extends "events/base.html" %}

{% load static %}
{% load utils %}

{% block title %}Sorteo {{event.name}} - {{ block.super }}{% endblock %}

{% block body_class %}raffle-base raffle-page{% endblock %}
{% block content_class %}is-narrow{% endblock %}

{% block content %}

<div class="box">
  {% include 'events/includes/raffle-header.html' %}

  <div class="gifts">
    <span class="tag is-dark is-medium">
      <i class="fas fa-gift"></i>
      REGALOS
    </span>
    <ol>
      {% for gift in gifts %}
        <li><p>{{ gift }}</p></li>
      {% empty %}
        <span class="tag is-warning is-medium">
          <i class="fas fa-exclamation-triangle"></i>
          No se ha definido aún ningún regalo para este sorteo!
        </span>
      {% endfor %}
    </ol>
  </div>

  <hr>

  {% if raffle.opened %}
    {% if gifts %}
      <div class="candidate_tickets">
        <p>
          Se sortearán <strong>{{ gifts.count }} regalos</strong> entre <strong>{{ candidate_tickets.count }} tickets</strong> candidatos sin reemplazo!
        </p>
        <p>
          Probabilidad de que te toque algo: <span class="tag is-info">{{ success_probability|floatformat:2 }} %</span>
        </p>
      </div>
      <div class="launch-raffle">
        <a class="button is-primary is-outlined" href="{% url 'events:raffle_gift' event.slug gifts.0.id %}">
          <i class="fas fa-atom"></i>
          Comenzar sorteo!
        </a>
      </div>
    {% endif %}
  {% else %}
    <div class="closed-raffle">
      <span class="tag is-warning is-medium">
        <i class="fas fa-lock"></i>
        Este sorteo está cerrado! Se realizó el {{ raffle.closed_at|as_short_date }}
      </span>
      <a class="view-results" href="{% url 'events:raffle_results' event.slug %}">
        <i class="fas fa-table"></i>
        Ver resultados
      </a>
    </div>
  {% endif %}

</div>

{% endblock content %}
