{% extends "events/base.html" %}
{% load controls %}

{% block content %}
<div class="box has-text-centered">

<p>Si has perdido tu entrada, podemos reenviartela de nuevo.</p>

<p>Para ello, tienes que indicarnos el email que usaste para comprarla:</p>

<form method="post" action=".">
{% csrf_token %}

<div class="columns is-multiline is-centered is-mobile">
  <div class="column is-8">
  {% email_field form.email placeholder="El email que usaste al comprar la entrada" %}
  </div>

  <div class="column is-8">

    <input type="submit" class="button is-primary" name="ok" value="Reenviar entrada">
  </div>

</div>


</form>

</div>
{% endblock %}
