{% extends "events/base.html" %}
{% load static utils controls %}

{% block content %}

<div class="card">
  <header class="card-header">
    <p class="card-header-title">Apuntarse a la lista de espera</p>
  </header>
  <div class="card-content">
  <form method="POST" action =".">
  {% csrf_token %}
  {% text_field form.name placeholder="Nombre" %}
  {% text_field form.surname placeholder="Apellidos" %}
  {% email_field form.email placeholder="Correo electrónico" %}
  {% tel_field form.phone placeholder="Teléfono" %}
  <input type="submit"
        class="input"
        name="pb_ok"
        value="Apuntarse en la lista de espera">
  </form>
  </div>
</div>

{% endblock content %}
