{% extends "events/base.html" %}
{% load static utils %}

{% block content %}

{% include 'events/includes/event-header.html' with event=event %}
{% include 'events/includes/event-tabs.html' with section='actions' %}

<div class="box">
<form method="POST" action =".">
{% csrf_token %}

<div class="columns is-multiline">
  <div class="column is-half">
    {{ form.name }}
  </div>
  <div class="column is-half">
    {{ form.surname }}
  </div>

  <div class="column is-two-thirds">
    {{ form.email }}
  </div>
  <div class="column is-one-third">
    {{ form.phone }}
  </div>
  <div class="column is-full">
    <input class="button is-link"
      type="submit"
      name="ok"
      value="Apuntarse en la lista de espera">
  </div>
</div><!-- de columns -->
</form>
</div>

{% endblock content %}
