{% extends "members/base.html" %}

{% block title %}Acceso para socios/as - {{ block.super }}{% endblock %}

{% block content %}

<div class="columns is-centered">
  <div class="column is-one-third">

  <h2 class="is-size-4">Acceso para socios/as</h2>
  <hr>
    <form method="POST" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <p class="is-pulled-right" style="margin-top:1em;">
      <input type="submit" class="button is-link" role="button" value="Identificarse como socio/a" name="Login" id="login"/>
    </p>
    </form>
  </div>
</div>
{% endblock content %}
