{% extends "members/base.html" %}

{% block content %}

<h2>
{{ titulo }}
</h2>

<div class="columns is-centered">
  <div class="column is-two-third">
  <h2 class="is-size-4">Acceso para socios/as</h2>
  <hr>
    <form method="POST" action=".">
    {% csrf_token %}


      <div class="field">
        <label class="label">{{ form.username.label }}</label>
        <div class="control">
          {{ form.username }}
        </div>
      </div>

      <div class="field">
        <label class="label">{{ form.password.label }}</label>
        <div class="control">
          {{ form.password }}
        </div>
      </div>

      <p class="is-pulled-right" style="margin-top:1em;">
        <input type="submit"
               class="button is-link"
               role="button"
               value="Identificarse como socio/a"
               name="Login" id="login"/>
       </p>
    </form>
  </div>
  <div class="column is-one-third">
    <h2>¿Aun no eres socio?</h2>
    <h3>Puedes acceder al procedimiento para darte de
      alta en <a hred="{% url 'about:join' %}">Únete a
      nosotros</a>
    </h3>
  </div>
</div>
{% endblock content %}
