{% extends 'members/base.html' %}

{% block title %}Perfil de socio/a - {{ block.super }}{% endblock %}

{% block content %}
<div class="box">

  <nav class="panel">
    <h3 class="panel-heading">Datos personales</h3>
    <div class="panel-block">
      <table class="table table-striped">
        <tr> <th>Username</th> <td><code>{{ member.user.username }}</code></td> </tr>
        <tr> <th>Nombre</th> <td>{{ member.user.first_name }}</td> </tr>
        <tr> <th>Apellidos</th> <td>{{ member.user.last_name }}</td> </tr>
        <tr> <th>Email</th> <td>{{ member.user.email }}</td> </tr>
      </table>
    </div>
  </nav>

  <nav class="panel">
    <h3 class="panel-heading">Socio/a: #{{ member.pk }}</h3>
    <div class="panel-block pb-vertical">
      <table class="table table-striped">
        <tr>
          <th>Dirección</th>
          <td>{{ member.address|default:"No disponible" }}
            {% if member.rest_address|default:"No disponible" %}
            <br>{{ member.rest_address }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Código postal</th>
          <td>{{ member.postal_code|default:"No disponible" }}</td>
        </tr>
        <tr>
          <th>Ciudad</th>
          <td>{{ member.city|default:"No disponible" }}</td>
        </tr>
        <tr>
          <th>Teléfono</th>
          <td>{{ member.phone|default:"No disponible" }}</td>
        </tr>
      </table>

      <a href="{% url 'members:address_change' %}"><i class="fas fa-edit"></i> Actualizar datos</a>
    </div>
  </nav>
</div>

{% endblock content %}
