.event-page {
  .section {
    .section-title {
      color: $blue-text;
      text-align: center;
      margin-bottom: 2.1rem;
    }
  }

  @import './event/header';
  @import './event/menu';
  @import './event/what-is';
  @import './event/speakers';
  @import './event/schedule';
  @import './event/venue';
  @import './event/sponsors';
}
