.section {
  padding: 2.5em 1.1em;

  @include from($custom-mobile) {
    padding: 3em 1.5em;
  }

  .section-title {
    color: $blue-text;
    text-align: center;
    margin-bottom: $section-title-margin-bottom;
  }

  .section-detail {
    margin-top: .6rem;
    font-size: 1.3rem;
    color: lighten($blue-text, 15%);
  }
}

.modal {
  .modal-content {
    margin: 0 1em;
    padding: 1.2em;
    text-align: center;

    @include from($custom-mobile) {
      padding: 2em;
      margin: 0 1.6em;
    }
  }
}

.coming-soon {
  font-style: italic;
  i {
    color: rgb(143, 52, 0) !important;
  }
}

section.cfp {
    background: #38383830;
}
