.section.past-events {
  border-top: 1px solid $blue-bg;

  .title {
    margin-bottom: 3rem;
  }

  .past-event-box {
    img {
      max-width: 6rem;
    }

    .past-event-details {
      padding: .3rem 0;
    }
  }

  .more-past-events {
    margin: 2rem 0;
  }
}
