.event-header {
  background-color: #000d19b8;
  background-image: url('./img/default-event-hero.jpg');
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;

  & > .inner {
    padding: 4.5em 0.8em;
    background-color: #000d19b8;

    .title,
    .subtitle {
      margin: 0;
      color: #fff;
    }

    .title {
      font-size: 2.6em;
    }

    .subtitle {
      margin: 0.6em 0.4em;
      -webkit-font-smoothing: auto;
      font-weight: 300;

      .event-header-date,
      .event-header-venue {
        display: inline-block;
        margin: 0.4em 0.7em;
      }

      i {
        color: $yellow-bg;
        margin-right: 0.3em;
      }
    }

    .button {
      margin-top: 0.3em;
    }
  }
}
