.section.schedule {
  .schedule-table {
    display: flex;
    flex-direction: column;

    .columns.is-gapless {
      margin-bottom: 0.8rem;

      @include from($tablet) {
        margin-bottom: 0;
      }
    }

    i {
      margin-right: 0.4em;
      font-size: 0.9em;
      color: #245e6f;
    }

    .tags {
      margin-top: 0.3em;
      margin-bottom: 0;

      .tag {
        margin-top: 0.3em;
        margin-bottom: 0;
        font-size: 0.9em;
        background-color: transparent;
      }
    }

    .modal {
      .modal-content {
        .slot-title {
          font-size: 1.1em;
          font-weight: 600;
        }

        .slot-tags {
          margin-top: 0.8em;

          .slot-tag {
            font-size: 0.8em;
            background-color: $light;
          }
        }

        .slot-attributes {
          margin-top: 0.7em;
        }

        .slot-description {
          text-align: justify;
          font-style: italic;
          margin-top: 1em;

          p:not(:last-child) {
            margin-bottom: 0.8em;
          }
        }
      }
    }

    $cell-margin: 1px;
    $slot-padding: 0.8rem;
    $min-height-slot: 9.7rem;

    .schedule-title {
      background-color: $blue-bg;
      color: #fff;
      padding: 1rem;
      margin: $cell-margin;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .schedule-slot {
      color: $text;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      text-align: center;
      padding: $slot-padding;
      margin: $cell-margin;
      background-color: #f2f2f3;

      &:hover,
      &:active,
      &:focus {
        background-color: lighten(#f2f2f3, 1.5);
      }

      &.schedule-slot-plenary {
        min-height: 6rem;
      }

      &.schedule-slot-category-organizing {
        background-color: #d9eff7;
      }

      &.schedule-slot-category-coffee,
      &.schedule-slot-category-meal {
        background-color: #fdebd1;

        i {
          color: #bb8104;
        }

        .icon-slot-category {
          font-size: 1em;
          color: #d28e20;
        }
      }

      .slot-title {
        font-weight: 600;
        margin-top: 0.2em;
      }

      .slot-attributes {
        .slot-attribute {
          background-color: transparent;
          font-size: 0.9em;
          font-style: italic;
        }
      }

      .slot-speakers {
        margin-top: 0.1em;

        .slot-speaker {
          font-size: 0.9em;
        }
      }
    }

    .schedule-columns {
      .schedule-column {
        display: flex;
        flex: 1;
        flex-direction: column;
      }

      .schedule-slot {
        flex: 1 0 auto;
        min-height: $min-height-slot;

        &.size-2 {
          flex-basis: calc(#{$min-height-slot} * 2 + #{$cell-margin} * 2);
        }
      }
    }

    .talk-links {
      margin-top: 1rem;
    }
  }
}
