.section.speakers {
  .modal {
    .modal-content {
      max-width: 37em;

      .speaker-box {
        padding: 0;

        .speaker-name {
          margin-top: 1.2em;
          margin-bottom: 0;
          font-size: 1.1em;
          -webkit-font-smoothing: auto;
        }

        .speaker-bio {
          margin-top: 1em;

          p:not(:last-child) {
            margin-bottom: 0.8em;
          }
        }

        .speaker-socials {
          margin-top: 1em;
          margin-bottom: -0.1em;
          border: 0;
          background-color: transparent;
          height: auto;
        }
      }
    }
  }

  .speaker-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0;
    padding-top: 1.2em;
    overflow: hidden;

    .speaker-photo {
      display: inline-block;
      background-size: cover;
      background-position: center;
      height: 6.5em;
      width: 6.5em;
      border-radius: 10em;
    }

    .speaker-name {
      display: flex;
      align-items: center;
      flex: 1;
      font-weight: 600;
      color: #45526d;
      margin: 0.9em 0 0.5em 0;
      padding: 0 1em;
    }

    .speaker-show-more {
      color: $yellow-bg;
      font-weight: 600;
      cursor: pointer;
      font-size: 0.9em;
      padding: 0.2em 1em;
    }

    .speaker-socials {
      display: flex;
      height: 2.7em;
      align-self: stretch;
      align-items: center;
      justify-content: center;
      background: #fbfbfc;
      margin-top: 0.7em;
      border-top: 1px solid #f0f0f2;

      a {
        display: inline-block;
        color: $blue-bg;

        &:hover,
        &:active,
        &:focus {
          color: lighten($blue-bg, 6);
        }

        i {
          padding: 0.5em;
        }
      }
    }
  }
}
