{% extends "base.html" %}
{% load static %}
{% load dateutils %}

{% block content %}

<h3>{{ event.title }}</h3>
<h4>{{ event.start_date|as_date }} <small>{{ ticket_type.name }}</small></h4>

<form action="." method="POST">
 <div class="form-group">
     <label>Precio: <b>{{ ticket_type.price }}€</b></label>
 </div>
 <div class="form-group col-6">
    <label for="name">Nombre</label>
    <input type="text" name="name" size="32" class="form-control"
    placeholder="nombre">
 </div>
 <div class="form-group col-6">
     <label for="surname">Apellidos</label>
     <input type="text" name="surname" size="32" class="form-control"
     placeholder="Apellidos">
 </div>
 <div class="form-group">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_public_key }}"
    data-amount="{{ ticket_type.price_in_cents }} "
    data-name="Stripe.com"
    data-description="Test Ticket {{ event.slug }} / {{ ticket_type.name }}"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="EUR"
    data-zip-code="true">
  </script>
 </div> 
</form>




{% endblock content %}
