@import 'apps/commons/static/commons/css/variables';

.list-events-page {
  .title-list-events {
    color: $blue-text;
    text-align: center;
  }

  .event-box {
    display: block;
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #ffffff8a;

      .title {
        color: $blue-text;
      }
    }

    .title {
      margin-bottom: 0.4em;
    }

    .event-date,
    .event-location {
      display: inline-block;
      margin-bottom: 0.4em;
      margin-right: 1em;

      i {
        color: $yellow-bg;
        margin-right: 0.3em;
      }
    }
    .event-short-description {
      font-style: italic;
      margin-top: 1rem;
      margin-bottom: 1rem;

    }
  }
}
