<div class="field">
  <div class="control">
    <input name="{{ field.name }}" id="{{ control_id }}"
           {% if checked %}checked{% endif %}
           value="{{ field.value }}"
           type="checkbox">
    <label class="checkbox" for="{{ control_id }}">{{ field.label }}</label>
    {% if field.help_text %}
      <p class="help">{{ field.help_text }}</p>
    {% endif %}
    {% if field.errors %}
      <ul class="errorlist">{% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}</ul>
    {% endif %}
  </div>
</div>

