@import 'variables';

.hero {
  color: white;
  min-height: 100vh;
  background-image: url('./img/bg.jpg');
  background-position: center;
  background-size: cover;

  .hero-body {
    background-color: rgba(12, 15, 24, 0.85);
    display: flex;
    align-items: center;

    .event-launcher {
      a.event-target:hover {
        color: #cdcdcd;
      }
      background: #ffffff1a;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: .5rem
    }

    .logo {
      max-width: 29rem;
      width: 100%;
    }

    .links {
      margin-top: 1.5em;
      margin-bottom: 2em;

      & > .link {
        text-decoration: none;
        margin: 0.5em 1em;
      }
    }

    .blog-message {
      margin-top: 1em;
      font-size: 1.1em;

      .blog-link {
        display: inline-block;
        padding: 0.11em 0.2em;
        border-radius: $radius;
        color: $yellow;
        background-color: rgba(255, 255, 255, 0.07);

        &:hover,
        &:focus,
        &:active {
          background-color: rgba(255, 255, 255, 0.12);
        }
      }
    }

    .social {
      margin-top: 1.6em;

      .button {
        background-color: rgba(255, 255, 255, 0.07);
        border-color: transparent;
        color: white;

        &:hover,
        &:focus,
        &:active {
          background-color: rgba(255, 255, 255, 0.12);
        }
      }
    }
  }
}
