{% extends "./modal.html" %}
{% block modal_id %}modal-slot-{{ scheduled_item.slot.id }}{% endblock %}

{% block modal_content %}
{% with scheduled_item.slot as slot %}

  <h2 class="slot-title">{{ slot.name }}</h2>

  <div class="tags is-centered slot-tags">
      {% for tag in slot.tags.all %}
        <div class="tag slot-tag is-light">{{ tag }}</div>
      {% endfor %}
    </div>


  <div class="tags is-centered slot-attributes">
    <div class="tag slot-attribute"><i class="fas fa-clock"></i>
      {{ scheduled_item.start|date:'G:i' }} - {{ scheduled_item.end|date:'G:i' }}
    </div>
    <div class="tag slot-attribute"><i class="fas fa-map-marker-alt"></i> {{ scheduled_item.location.name }}</div>
    <div class="tag slot-attribute"><i class="fas fa-signal"></i> {{ slot.level.name }}</div>
  </div>


  <div class="tags is-centered slot-speakers">
    {% for speaker in scheduled_item.speakers.all %}
      <div class="tag slot-speaker"><i class="fas fa-user"></i> {{ speaker }}</div>
    {% endfor %}
  </div>

  <div class="slot-description">{{ slot.description|linebreaks }}</div>

  <div class="talk-links columns">
      {% if slot.repo %}
        <div class="column">
          <i class="fab fa-github"></i>
          <a href="{{ slot.repo }}">Enlace al repositorio</a>
        </div>
      {% endif %}

      {% if slot.slides %}
        <div class="column">
          <i class="fab fa-slideshare"></i>
          <a href="{{ slot.slides }}">Enlace a la presentación</a>
        </div>
      {% endif %}
  </div>

{% endwith %}
{% endblock %}
