{% extends "./modal.html" %}

{% block modal_id %}modal-slot-{{ scheduled_item.slot.id }}{% endblock %}

{% block modal_content %}
  <h2 class="slot-title">{{ scheduled_item.slot.name }}</h2>

  <div>
    <div class="slot-hours"><i class="fas fa-clock"></i> {{ scheduled_item.when_for_display }}</div>
    <div class="slot-location"><i class="fas fa-map-marker-alt"></i> {{ scheduled_item.location.name }}</div>
    <div class="slot-level"><i class="fas fa-signal"></i> {{ scheduled_item.slot.level.name }}</div>
    <div class="">tags</div>
  </div>

  <div class="slot-speakers">
    {% for speaker in scheduled_item.speakers.all %}
      <div class="slot-speaker"><i class="far fa-user"></i> {{ speaker }}</div>
    {% endfor %}
  </div>

  <p>{{ scheduled_item.slot.description }}</p>
{% endblock %}
