{% extends "dashboard/base.html" %}
{% load utils %}

{%block content %}

<h2 class="title">Hay {{ num_attendees }} certificados</h2>
{% if subtitle %}
<h3 class="subtitle">{{ subtitle }}</h3>
{% endif %}

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th colspan="2">Asistente</th>
      <th>Email</th>
      <th>Certificación<br>solicitada</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>

{% for attendee in attendees %}
<tr>
  <td>{{ attendee.name }}</td>
  <td>{{ attendee.surname }}</td>
  <td>{{ attendee.email }}</td>
  <td>{{ attendee.certificate.description }}</td>
  <td>
    {% if attendee.is_issued %}
      Ya emitido <code class="label is-warning"> {{ attendee.uuid }}<code>
    {% else %}
      <a href="{% url 'dashboard:issue_attendee' id_attendee=attendee.pk %}"
        role="button" class="button is-primary">
      Expedir Certificado
      </a>
    {% endif %}
  </td>
</tr>
{% endfor %}

  </tbody>
</table>

{% endblock content %}
