{% extends "base.html" %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">
{% endblock styles %}
  
{% block js %}
{{ block.super }} 
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
{% endblock js %}

{% block container %}

<div class="columns displaced">
  <div class="column is-narrow">
    {% include "dashboard/includes/sidebar.html" %}
  </div>

  <div class="column">
    <main>
      {% block content %}

      {% endblock content %}
    </main>
  </div>
</div>
{% endblock container%}
