{% extends "dashboard/base.html" %}

{% block content %}

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">329</p>
            <p class="subtitle">Total Visits</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">+20 %</p>
            <p class="subtitle">Total Page Views</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">201</p>
            <p class="subtitle">Unique Visitor</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">12 %</p>
            <p class="subtitle">Purchases</p>
          </article>
        </div>
      </div>
{% endblock content %}
