<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ commons_dir }}/css/main.css">
        <link rel="stylesheet" href="{{ commons_dir }}/css/fonts.css">
    {% endblock %}
</head>
<body>
    <div class="header">
        <img src="{{ commons_dir }}/img/logo_python_canarias.png" alt="Logo Python Canarias">
    </div>

    {% block content %}{% endblock %}

    <div class="bottom">
        <div>pythoncanarias.es</div>
        <div>Timestamp: <span class="timestamp">{{ timestamp }}</span></div>
    </div>
</body>
</html>
