<!DOCTYPE html>
<html>
    <head>
        {% if load_fonts %}
            <link rel="stylesheet" href="{{ commons_dir }}/vendor/fontawesome/css/all.css">
            <link rel="stylesheet" href="{{ commons_dir }}/css/fonts.css">
        {% endif %}
        <link rel="stylesheet" href="{{ commons_dir }}/css/base.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
