.buy-article-page {
  .content-page {
    max-width: 35rem;

    @include from($tablet) {
      max-width: 46rem;
    }

    .box {
      .message {
        .title {
          color: inherit;
          font-weight: 600;
          margin-bottom: 0.2em;
        }
      }

      p {
        margin-bottom: 0.6em;
      }

      .checkbox {
        margin-bottom: 0.8em;

        input[type=checkbox] {
          margin-right: 0.5em;
        }
      }

      .message-tickets-on-mail {
        margin-top: 0.5em;
      }

      .stripe-button-el {
        background: $yellow-bg;
        border-radius: $radius;
        box-shadow: none;
        font-size: 0.9em;

        &:hover,
        &:focus,
        &:active {
          background: lighten($yellow-bg, 4);
        }

        span {
          background: transparent;
          box-shadow: none;
          font-family: $family-sans-serif;
          color: $brown-text-for-yellow-bg;
          font-size: 1em;
          height: auto;
          padding: 0.2em 1.2em;
          text-shadow: none;
        }
      }
    }
  }
}
