.resend-ticket-page {
  form {
    display: flex;
    flex-direction: column;
    max-width: 18em;
    margin: 0 auto;
    margin-top: 1em;

    label {
      font-weight: 600;
    }

    .errorlist {
      font-size: 0.9em;
      margin-top: 0.3em;
      color: #d42626;
    }

    input[type=email] {
      font-size: 1em;
      margin-top: 0.3em;
      padding: 0.4em;
    }

    .button {
      margin-top: 0.5em;
    }
  }
}
