.select-article-page {
  .content-page {
    max-width: 55rem;

    .ticket-article {
      background-color: #fdfdfe;

      &:hover,
      &:active,
      &:focus {
        background-color: #fff;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 0.5em;
      }

      .tag {
        font-size: 0.9rem;
        white-space: nowrap;
        margin-left: 1em;
      }

      .soldout-tag {
        border: 1px solid #e7e7ec;
      }

      .upcoming-tag {
        background-color: #e7f4fe;
        border: 1px solid #d9ebf9;
      }
    }
  }
}
