{% load utils %}
<div class="box event-item text-centered">
  <article class="media">

  {% if event.cover %}
    <div class="media-left">
      <figure class="image is-64x64">
      <a href="{% url 'events:detail_event' event=event %}">
      <img src="{{ event.cover.url }}" alt="{{ event.name }}">
      </a>
      </figure>
    </div>
  {% endif %}
  <div class="media-content">
      <h2 class="is-size-3 has-text-left">
        <a href="{% url 'events:detail_event' event=event %}">
        <strong>{{ event.name }}</strong>
        </a>
      </h2>
      <div class="event-data">
        <i class="fas fa-calendar"></i>
        &nbsp;
        {{ event.start_date|as_date }}
      </div>
      {% if event.venue %}
        <div class="event-data">
          <i class="fas fa-map-marker-alt"></i>
          &nbsp;
          {{ event.venue.name }}
        </div>
      {% endif %}
    <div class="event-short-description">
      {{ event.short_description|as_markdown }}
    </div>
  </div>
  </article>
</div>
