{% load utils %}
    <div class="column {{ klass|default:"is-half" }}">
      <div class="box event-item">
       <article class="media">
           
        {% if event.cover %}
          <div class="media-left">
            <figure class="image is-64x64">
            <a href="{% url 'events:detail_event' slug=event.slug %}">
            <img src="{{ event.cover.url }}" alt="{{ event.name }}">
            </a>
            </figure>
          </div>
        {% endif %}
        <div class="media-content">
            <h1 class="title is-3">
              <a href="{% url 'events:detail_event' slug=event.slug %}">
              <strong>{{ event.name }}</strong>
              </a>
            </h1>
            <div class="event-date">
              <i class="far fa-calendar-alt"></i> {{ event.start_date|as_date }}
              <a target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ event.name }}&details={{ event.description }}&location={{ event.venue }}&dates={{ event.start_datetime | date:'Ymd\THis\Z' }}%2F{{ event.get_end_datetime | date:'Ymd\THis\Z' }}">Añadir a Google Calendar</a>
            </div>
            {% if event.venue %}
              <div class="event-location">
                <i class="fas fa-map-marker-alt"></i> {{ event.venue.name }}
              </div>
            {% endif %}
          <p class="event-short-description">
            {{ event.short_description }}
          </p>
        </div>
       </article>
     </div> 
    </div>
