{% load utils %}
<a name="start">
<nav class="level is-centered">

  {% if not event.active %}
    <div class="level-item">
      <a href="#" role="button" class="button is-danger">
        Evento cerrado
      </a>
    </div>
  {% endif %}

  {% if event.active and event.opened_ticket_sales %}
    <div class="level-item">
      <a href="{% url 'events:buy_ticket' slug=event.slug %}"
         role="button"
         class="button is-warning">
        Comprar entrada
      </a>
  </div>
  {% endif %}

  {% if event.active and not event.external_tickets_url %}
    <div class="level-item">
      <a href="{% url 'events:resend_ticket' event=event %}"
         role="button" class="button is-info"
         title="Si has perdido tu entrada, podemos reenviartela">
        Reenviar entrada
      </a>
    </div>
  {% endif %}

  {% if event.active %}
    <div class="level-item">
      <a href="#" role="button" class="button is-info"
         title="Si quieres promocionarlo en tus redes sociales te agradeceríamos que usaras este hashtag">{{ event.qualified_hashtag }}
      </a>
    </div>
  {% endif %}

  {% if event.active %}
  <div class="level-item">
    <a id="add-to-google-calendar"
      class="button is-info"
      href="{{ event.get_google_calendar_url }}">
      <i class="far fa-calendar-plus"></i> Añadir a Google Calendar</a>
  </div>
  {% endif %}
</nav>
</a>
