body {
    font-family: 'Body';
    font-size: 12pt;
}

header {
    padding-bottom: 2mm;
    border-bottom: 1px solid black;
}

header img {
    width: 5cm;
}

footer {
    padding-top: 2mm;
    font-family: 'Body';
    font-style: italic;
    font-size: .8rem;
    color: rgb(78, 78, 78);
    border-top: 1px solid black;
}

footer table {
    width: 100%;
    border-collapse: collapse;
}

footer table td {
    padding: 0;
    margin: 0;
}

footer .footer__left {
    text-align: left;
}

footer .footer__right {
    text-align: right;
}
