body {
    font-family: 'Body';
}

@page {
    size: A4;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 3cm;
    margin-bottom: 3cm;

    @top-left {
        content: element(header);
    }

    @bottom-center {
        content: element(bottom);
    }
}

.header {
    position: running(header);
    border-bottom: .2mm solid rgb(61, 61, 61);
}

.header img {
    width: 5cm;
}

.bottom {
    position: running(bottom);
    border-top: .2mm solid rgb(61, 61, 61);
    padding-top: 3mm;
    display: flex;
    justify-content: space-between;
    font-family: 'Body';
    font-style: italic;
    font-size: 10pt;
    color: rgb(78, 78, 78);
}

.timestamp {
    font-family: 'Fine';
}
