@import './variables';
@import '~bulma/bulma.sass';
@import './override';

html {
  // source: https://stackoverflow.com/q/46463338
  -webkit-font-feature-settings: 'liga' 0, 'clig' 0;
  -moz-font-feature-settings: 'liga' 0, 'clig' 0;
  font-feature-settings: 'liga' 0, 'clig' 0;
  scroll-behavior: smooth;
}

body {
  font-size: 1.03rem;
}

.no-scroll {
  overflow: hidden;
}

.inactive-link {
  pointer-events: none;
}

.header-page {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #ececec;
  background-color: $header-bg;
}

.content-page {
  max-width: 59rem;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} + 1px);
  padding: 2rem 0rem 5rem 0rem;

  @include from($custom-mobile) {
    & > .box {
      padding: 2rem;
    }
  }

  &.is-wide {
    max-width: 80rem;
  }

  &.is-narrow {
    max-width: 47rem;
  }
}

.footer-page {
  background-color: $footer-bg;

  a {
    color: $header-bg;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-column {
    color: #ebebeb;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @include from($desktop) {
      padding-top: 1rem;
      padding-bottom: 3rem;
    }
  }

  h1,
  h2 {
    color: whitesmoke;
  }

  i {
    padding-right: 0.2rem;
  }
}

/* Error class for Django Forms https://bit.ly/3vidyK2 */
.errorlist {
  background: indianred;
  color: white;
  padding: 0.3rem;
  font-size: smaller;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}
