@import './variables';
@import '~bulma/bulma.sass';
@import './override';
@import './dyn-anchors';

html {
  // source: https://stackoverflow.com/q/46463338
  -webkit-font-feature-settings: 'liga' 0, 'clig' 0;
  -moz-font-feature-settings: 'liga' 0, 'clig' 0;
  font-feature-settings: 'liga' 0, 'clig' 0;
  scroll-behavior: smooth;
}

body {
  font-size: 1.03rem;
}

.no-scroll {
  overflow: hidden;
}

.inactive-link {
  pointer-events: none;
}

.header-page {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
  background-color: $header-bg;
}

.content-page {
  max-width: 59rem;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} + 1px);
  padding: 2rem 1.2rem 5rem 1.2rem;

  @include from($custom-mobile) {
    & > .box {
      padding: 2rem;
    }
  }

  @include from($desktop){
    padding: 2rem 0rem 5rem 0rem;
  }

  &.is-wide {
    max-width: 80rem;
  }

  &.is-narrow {
    max-width: 47rem;
  }
}
/
 
.footer-page {
  background-color: $footer-bg;
  position: relative;
  margin-top: 2em;
  padding: 1.5em 1.5em 2.2em 1.5em;

  a {
    color: $footer-fg;

    &:hover {
      font-weight: 400;
    }
  }

  .footer-column {
    color: #ebebeb;
    padding-top: 2rem;
  
  }

  h1,
  h2 {
    color: whitesmoke;
  }

}

/* Error class for Django Forms https://bit.ly/3vidyK2 */
.errorlist {
  color: $red;
  font-size: smaller;
  margin-top: 0.5rem;
}

/* Float notification messages at top of pages */
.messages {
  position: absolute;
  right: 0;
  top: $header-height + 1rem;
  width: 100%;
  z-index: 1;

  & .notification {
    width: $notification-width;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.container {
  padding-top: 2rem;
}

.footer-button {
  position: absolute;
  top: -22.5px;
  left: calc(50% - 22.5px);
  z-index: 100;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  border-color: $header-bg;
  background-color: whitesmoke;
}
