.dyn-anchor-heading {
  a.dyn-anchor-link {
    font-size: 12pt;
    color: gray;
    vertical-align: middle;
    margin-left: 4px;
    display: none;
    &:hover {
      color: darken(gray, 30%);
    }
    &.show-it {
      display: inline-block;
    }
  }
}

.anchor {
  scroll-margin-top: $header-height + 1rem;
}

.message-header {
  .dyn-anchor-link i:hover {
    color: tomato;
  }
}
