hr {
  background-color: #ececf1;
  height: 1px;
  margin: 0.7em 0;
}

.title.is-blue {
  color: $blue-text;
}

.button.is-warning {
  color: $brown-text-for-yellow-bg;
  background-color: $yellow-bg;
  font-weight: 600;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($yellow-bg, 2);
  }
}


.message.is-info .message-body {
  border-color: #c8dfec;
}

.tag {
  background-color: #f3f3f7;
}

.collapsable--close{
  display: none;
}

.nav-menu{
 display:flex;
  justify-content: center;
  align-items: center; 
} 

.navbar-dropdown{
  background-color: $header-bg;
}

.navbar-burger{
  color: $header-fg;
}

.navbar {
  
  .navbar-brand {
    background: $header-bg;
    .navbar-item {
      padding: 0.35rem 1rem;
      
      .logo {
        margin-top: 2px; // offset logo
        max-height: $header-height;
      }
    }
  }

  .navbar-menu {
    background: $header-bg;
    box-shadow: none;
    border-top: 1px solid #f2f2f2;

    @include from($desktop) {
      border-top: 0;
    }

    @include from($desktop) {
      .navbar-end {
        padding-right: 1rem;
      }
    }

    .navbar-item,
    .navbar-link {
      color: $header-fg;
      background: $header-bg;
    }

    .navbar-item:hover,
    .navbar-link:hover {
      background: darken($header-bg, 5%);
    }

    .navbar-item.is-active,
    .navbar-link.is-active {
      background: darken($header-bg, 10%);
      font-weight: bold;
      color: $header-fg;
    }

    i {
      padding-right: 0.3rem;
    }
  }
}

.card {
  border-radius: $radius;

  & + .card {
    margin-top: 1.7rem;
  }

  .card-header {
    border-radius: $radius $radius 0 0;
    background-color: rgba(0, 0, 0, 0.03);
  }
}

