// Own variables
$blue-text: #2673b5;
$blue-bg: #2a77b7;
$yellow-text: #dcb029;
$yellow-bg: #efc23b;
$brown-text-for-yellow-bg: #332702;
$light-gray-bg: #f9f9fb;
$notification-width: 25rem;

// https://flatuicolors.com/palette/nl
$header-bg: #f79f1f;
$footer-bg: #444444;

$default-box-shadow: 0 1px 1px rgba(10, 10, 29, 0.09),
  0 0 1px rgba(10, 10, 29, 0.09);

$custom-mobile: 36rem;

$header-height: 4rem;
$footer-height: 6rem;
$footer-mobile-height: 3rem;

// Bulma variables
$family-sans-serif: 'Lato', sans-serif;
$text: #46474c;
$text-strong: #46474c;

$size-3: 1.85rem;

$body-background-color: $light-gray-bg;
$title-weight: 400;
$subtitle-negative-margin: -1rem;
$content-heading-weight: 500;
$radius: 0.15rem;
$navbar-height: 4.3rem;

$box-radius: $radius;
$box-padding: 1.5rem;
$box-shadow: $default-box-shadow;
$box-link-hover-shadow: $default-box-shadow;
$box-link-active-shadow: $default-box-shadow;

$column-gap: 0.65rem;

$message-body-border-width: 1px;

$modal-z: 3000;
$modal-background-background-color: rgba(7, 8, 16, 0.86);
