{% load static %}
<div class="container-fluid">
    <div class="level">
    <div class="level-left">
        <div class="level-item">
        © 2020, JustBoil.me
        </div>
        <div class="level-item">
        <a href="https://github.com/vikdiesel/admin-one-bulma-dashboard" style="height: 20px">
            <img src="https://img.shields.io/github/v/release/vikdiesel/admin-one-bulma-dashboard?color=%23999">
        </a>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
        <div class="logo">
            <a href="/"><img src="{% static 'commons/img/logo.png' %}" alt="Python Canarias"></a>
        </div>
        </div>
    </div>
    </div>
</div>
