<aside class="menu">
  <p class="menu-label has-text-centered">
  <a href="{% url 'dashboard:index' %}">Dashboard</a>
  </p>
  <ul class="menu-list">
    <li><a href="{% url 'dashboard:list_members' %}">Socios</a></li>
    <li><a href="{% url 'dashboard:list_events' %}">Eventos</a>
      <ul class="menu-list">
        <li><a href="#">Activos</a></li>
        <li><a href="#">Inactivos</a></li>
        <li><a href="#">Todos</a></li>
      </ul>
    </li>
    <li><a>Ofertas de trabajo</a>
    <li><a href="{% url 'dashboard:list_notices' %}">Notices</a>
    </li>
  </ul>
</aside>
