  <aside class="sidebar">
    <nav class="menu">
    <div class="menu-category">
        <header class="category-header">Dashboard</header>
        <ul class="menu-list">
        <li><a>Static</a></li>
        <li><a>Streaming</a></li>
        </ul>
    </div>
    <div class="menu-category">
        <header class="category-header">Elements</header>
        <ul class="menu-list">
        <li><a>Box</a></li>
        <li><a>Button</a></li>
        <li><a>Content</a></li>
        <li><a>Delete</a></li>
        <li><a>Icon</a></li>
        <li><a>Image</a></li>
        <li><a>Notification</a></li>
        <li><a>Progress bars</a></li>
        <li><a>Table</a></li>
        <li><a>Tag</a></li>
        <li><a>Title</a></li>
        </ul>
    </div>
    <div class="menu-category">
        <header class="category-header">Components</header>
        <ul class="menu-list">
        <li><a>Panels</a></li>
        <li><a>Breadcrumb</a></li>
        <li><a>Card</a></li>
        <li><a>Dropdown</a></li>
        <li><a>Menu</a></li>
        <li><a>Message</a></li>
        <li><a>Modal</a></li>
        <li><a>Navbar</a></li>
        <li><a>Pagination</a></li>
        <li><a>Panel</a></li>
        <li><a>Tabs</a></li>
        </ul>
    </div>
    <div class="menu-category">
        <header class="category-header">Pages</header>
        <ul class="menu-list">
        <li><a>Login</a></li>
        <li><a>Logout</a></li>
        <li><a>Page not found</a></li>
        </ul>
    </div>
    </nav>
  </aside>
