{% extends "legal/base.html" %}
{% load utils %}

{% block title %}Code of Conduct - {{ block.super }}{% endblock %}

{% block content %}

<div class="content box">

{% filter as_markdown %}

# Code of Conduct

Python Canarias is a diverse community who maintains a reputation as a
friendly, welcoming, inspiring and dynamic group. We’d like to keep it that
way, which is why we ask all participants, speakers, organizers and sponsors
of all our events to follow this code of conduct (CoC).

If you have questions regarding this CoC, please
contact the Core Team of Python Canarias in this email:
<a href="mailto::info@pythoncanarias.es">info@pythoncanarias.es</a>. Your
questions will only be seen by the members of the core workgroup
, and treated confidentially.

## Be nice to each other

We trust that attendees will treat each other in a way that reflects the widely
held view that diversity and friendliness are strengths of our community to be
celebrated and fostered.

Furthermore, we believe attendees have a right to:

- be treated with courtesy, dignity and respect;

- be free from any form of discrimination, victimization, harassment or
  bullying;

- enjoy an environment free from unwelcome behavior, inappropriate language and
  unsuitable imagery.

## Don't be an asshole

Python Canarias is dedicated to providing a respectful, harassment-free
community for everyone. We do not tolerate harassment or bullying of any
community member in any form. This does not only extend to members, but to
anyone who chooses to become involved in the larger Python Canarias community
of users, developers and integrators through events or interactions.

Harassment includes offensive verbal/electronic comments related to personal
characteristics or choices, sexual images or comments in public or online
spaces, deliberate intimidation, bullying, stalking, following, harassing
photography or recording, sustained disruption of talks, IRC chats, electronic
meetings, physical meetings or other events, inappropriate physical contact, or
unwelcome sexual attention. Participants asked to stop any harassing or
bullying behavior are expected to comply immediately.

## Be professional and don’t spam

We consider our events a great setting to showcase the work of the community and
would like to encourage networking and business related discussions, as well as
keep the conference presentations meaningful and interesting for everyone.

We therefore:

- only allow company marketing or recruiting related activities at the
  conference in accordance with our sponsor agreements;

- request presentations - outside the official recruiting sessions - to focus
  on Python related topics, not on recruitment.


## Solving problems

If problems covered by this code of conduct arise, please contact one of Python
Canarias or CoC Workgroup contacts listed below or any other Python Canarias
organizer directly and in private. Any complaint will remain confidential, be
taken seriously, investigated, and dealt with appropriately.

The Python Canarias organization reserve the right to carry out any of the
following actions relating to a complaint:

- The person concerned may be told to stop/modify his/her behavior
  appropriately and a warning will be issued.

- The person concerned may be warned that enforcement action may be taken if
  the behavior continues.

- The person concerned may be asked to leave the venue immediately and/or may
  be prohibited from continuing to attend this and future events organized
  by Python Canarias (without refund).

- The incident may be reported to the local authorities.

## Contacts

Core Team <a href="mailto::info@pythoncanarias.es">info@pythoncanarias.es</a>

---

This document is based on the
[EuroPython 2018 Code of Conduct](https://ep2018.europython.eu/en/coc/)
and released under a
[creative commons license](http://creativecommons.org/licenses/by-nc-sa/3.0/).

{% endfilter %}

</div>

{% endblock content %}
