{% extends "legal/base.html" %}
{% load utils %}

{% block title %}Aviso legal - {{ block.super }}{% endblock %}

{% block content %}

<div class="content box">

{% filter as_markdown %}

# Aviso legal

## 1. Objeto y aceptación

El presente aviso legal regula el uso del sitio web: <a href="pythoncanarias.es">pythoncanarias.es</a>. El sitio web pythoncanarias.es presta servicios cuyo objetivo primordial es difundir y promover el uso del lenguaje de programación Python en la comunidad Canaria.

La navegación por la página pythoncanarias.es atribuye la condición de usuario de la misma e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en estos Términos de servicio, que pueden sufrir modificaciones.

El usuario se obliga a hacer un uso correcto del sitio Web de conformidad con las leyes, la buena fe, el orden público, los usos del tráfico y los presentes Términos de servicio. El Usuario responderá frente a la Python Canarias (Python Canarias en adelante) y frente a terceros, de los daños y perjuicios que pudieran causarse como consecuencia del incumplimiento de dicha obligación.

## 2. Titularidad de la web e identificación del Prestador de Servicios de la Sociedad de la Información

Con la finalidad de dar cumplimiento al principio de Información general exigido por el Artículo 10 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico  informamos a nuestros usuarios que el presente sitio web pertenece a Python Canarias:

- Dirección: Avenida de Alonso Fernández de Lugo, 4, 38300 La Orotava, Santa Cruz de Tenerife
- Correo electrónico: info@pythoncanarias
- Web alojada por: Digital Ocean (<a href="digitalocean.com">digitalocean.com</a>)

## 3. Condiciones generales de acceso y utilización

El sitio Web y sus servicios son de acceso libre y gratuito, si bien la utilización de determinadas áreas o servicios está condicionada a cumplimentar formularios de recogida de datos. Sólo los mayores de 18 años podrán facilitar datos a través de nuestra web, y los menores de 16 años no pueden facilitarlos sin el consentimiento de los progenitores/responsables.

El Usuario garantiza la autenticidad y actualidad de todos aquellos datos que comunique a Python Canarias y será el único responsable de las manifestaciones falsas o inexactas que realice.

pythoncanarias.es tiene los siguientes tipos de usuarios:

- Usuarios que aportan datos en cualquiera de los formularios disponibles: Los datos personales que Python Canarias solicita incluyen el nombre y apellidos y dirección electrónica y los proporcionados por el propio usuario al rellenar los formularios.
- Usuarios que no han contactado con Python Canarias pero de los que se recogen datos: Datos proporcionados por las cookies.
- Usuarios registrados: Incluye el nombre de usuario y contraseña.

### 3.1. Reglas y prohibiciones de uso para usuarios de nuestros servicios

El Usuario se compromete expresamente a hacer un uso adecuado de los contenidos y servicios ofrecidos y a no emplearlos para:

-	Difundir contenidos delictivos, violentos, pornográficos, racistas, xenófobo, ofensivos, de apología del terrorismo o, en general, contrarios a la ley o al orden público.
-	Introducir en la red virus informáticos o realizar actuaciones susceptibles de alterar, estropear, interrumpir o generar errores o daños en los documentos electrónicos, datos o sistemas físicos y lógicos de Python Canarias o de terceras personas; así como obstaculizar el acceso de otros Usuarios al sitio Web y a sus servicios.
-	Intentar acceder a áreas restringidas de los sistemas informáticos de Python Canarias o de terceros y, en su caso, extraer información.
-	Vulnerar los derechos de propiedad intelectual o industrial, así como violar la confidencialidad de la información de Python Canarias o de terceros.
-	Suplantar la identidad de otro Usuario, de las administraciones públicas o de un tercero.
-	Reproducir, copiar, distribuir, poner a disposición o de cualquier otra forma comunicar públicamente, transformar o modificar los Contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido
-	Recabar datos con finalidad publicitaria y de remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial sin que medie su previa solicitud o consentimiento.

### 3.2. Procedimiento en caso de realización de actividades de carácter ilícito

En el caso de que cualquier usuario o un tercero considere que existen hechos o circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de cualquier actividad en las páginas Web incluidas o accesibles a través del sitio Web, deberá enviar una notificación a Python Canarias identificándose debidamente, especificando las supuestas infracciones y declarando expresamente y bajo su responsabilidad que la información proporcionada en la notificación es exacta.

## 4. Política de privacidad

El usuario puede consultar cómo Python Canarias utiliza sus datos y las medidas de seguridad implantadas en el siguiente enlace: <a href="{% url 'legal:privacy_policy' %}">política de privacidad</a>.

## 5. Política de cookies

Python Canarias instala cookies en el ordenador del usuario. Para conocer más las cookies de nuestro sitio web acuda al siguiente enlace: <a href="{% url 'legal:cookie_policy' %}">política de cookies</a>.

## 6. Notificaciones

Todas las notificaciones y comunicaciones entre los usuarios y Python Canarias se considerarán eficaces, a todos los efectos, cuando se realicen a través de correo postal o correo electrónico. Los usuarios deberán dirigirse a Python Canarias mediante:

-	Envío por correo postal a la siguiente dirección: Asociación Cultural Python Canarias – Avenida de Alonso Fernández de Lugo, 4, 38300 La Orotava, Santa Cruz de Tenerife.
-	Envío por correo electrónico a la siguiente dirección: info@pythoncanarias.org

## 7. Propiedad Industrial y propiedad intelectual

Todos los contenidos del sitio Web, como textos, fotografías, gráficos, imágenes, iconos, tecnología, software, así como su diseño gráfico y códigos fuente, constituyen una obra cuya propiedad pertenece a Python Canarias, sin que puedan entenderse cedidos al Usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesario para el correcto uso de la Web.

En definitiva, los usuarios que accedan a este sitio Web pueden visualizar los contenidos y efectuar, en su caso, copias privadas autorizadas siempre que los elementos reproducidos no sean cedidos posteriormente a terceros, ni se instalen a servidores conectados a redes, ni sean objeto de ningún tipo de explotación y única y exclusivamente mientras se encuentre en vigor el servicio.

Asimismo, todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en el sitio Web son propiedad de Python Canarias, sin que pueda entenderse que el uso o acceso al mismo atribuya al Usuario derecho alguno sobre los mismos.

Quedan prohibidas la distribución, modificación, cesión o comunicación pública de los contenidos y cualquier otro acto que no haya sido expresamente autorizado por Python Canarias. En caso de incumplimiento Python Canarias procederá a adoptar las medidas legales oportunas.

## 8. Exención de responsabilidad y modificación del presente aviso legal

La información que se difunde en esta web se hace única y exclusivamente a título informativo, reservándose Python Canarias el derecho de eliminar o suspender su difusión, total o parcialmente, y a modificar la estructura y contenido de este sitio Web sin aviso previo, pudiendo incluso limitar o no permitir el acceso a dicha información. Python Canarias intenta mantener la calidad y actualización de esta información y evitar y minimizar posibles errores pero Python Canarias no responderá de los daños o perjuicios causados por decisiones tomadas en base a la información difundida; ni de inexactitudes, omisiones o errores contenidos en el mismo, ni de los problemas que se originen por el uso de este sitio Web u otro de conexión externa; ni de los daños y/o perjuicios en el software o hardware del usuario que se deriven del acceso a este sitio Web.

Los Usuarios aceptan expresamente que Python Canarias no será responsable del acceso no autorizado o alteración de sus transmisiones o datos, de cualquier material o datos enviados o recibidos o no enviados o recibidos, ni de ninguna transacción realizada a través de su web.

Python Canarias se reserva el derecho a modificar el presente aviso legal unilateralmente y sin preaviso  en los términos y condiciones que estime conveniente con la única obligación de informar al usuario de las modificaciones efectuadas a través de www.talentedeurope.eu

## 9. Nulidad parcial

Si alguna de las presentes cláusulas fuese declarada nula y sin efecto por resolución firme dictada por autoridad competente, los restantes términos y condiciones permanecerán en vigor, sin que queden afectados por dicha declaración de nulidad.

## 10. Ley aplicable y tribunales competentes

El presente sitio web queda sometido a lo establecido por la legislación española y normativa europea que resulte de aplicación.

Cualquier controversia que surja o guarde relación con el uso de la página web o con dichos productos será sometida a la jurisdicción no exclusiva de los juzgados y tribunales españoles de la provincia de S/C de Tenerife.

Si se trata de un consumidor final nada en la presente cláusula afectará a los derechos que como tal le reconoce la legislación vigente, pudiendo elegir presentar una reclamación para hacer valer sus derechos en relación con las presentes Condiciones ante el Juez o Tribunales que correspondan a su domicilio.

{% endfilter %}

</div>

{% endblock content %}
