{% extends "legal/base.html" %}
{% load utils %}

{% block title %}Condiciones generales de compra - {{ block.super }}{% endblock %}

{% block content %}

<div class="content box">

{% filter as_markdown %}

# Condiciones generales de compra

En el presente documento se establecen las condiciones generales de compra de entradas para los eventos organizados por Python Canarias.

## 1. Asistencia de menores de edad

Los **menores de 16 años** deberán ir acompañados de padre, madre o tutor legal. Menores **entre los 16 y los 18 años** deberán presentar autorización del tutor legal con fotocopia de su DNI.

## 2. Pasarela de pago

Las entradas seleccionadas se compran a través de la pasarela de pago de [Stripe](http://stripe.com) programada desde la web de Python Canarias. Esto significa que el importe de dichas entradas se abonará en la [cuenta bancaria de la asociación]({% url 'about:index' %}#fiscal).

## 3. Reembolso de entradas

En caso de no asistir al evento correspondiente se podrá solicitar el reembolso del importe de la entrada poniéndose en contacto con la asociación Python Canarias vía correo electrónico.

**No se procederá al reembolso de la entrada si la solicitud se realiza a menos de 15 días para la celebración del evento**.

## 4. Adquisión de entradas por otros métodos de pago

En caso de que la persona interesada **no disponga de tarjeta bancaria**, ofrecemos la posibilidad de hacer el pago mediante **métodos de pago alternativos**:

- Transferencia bancaria.
- PayPal.

Estos métodos de pago no están automatizados y requieren de una comunicación vía correo electrónico con la asociación Python Canarias, no asegurándose la existencia de entradas en función de la venta "ordinaria".

{% endfilter %}

</div>

{% endblock content %}
