{% extends "jobs/base.html" %}

{% load utils %}

{% block title %}Empleo - {{ block.super }}{% endblock %}

{% block body_class %}jobs-index{% endblock %}

{% block content %}

<h1 class="title">Ofertas de empleo</h1>
  {% for job in jobs %}
  <div class="card" id="#job{{ job.id }}">
    <div class="card-header job-title">
      <a href="" class="subtitle card-header-title is-centered has-background-info has-text-white">
        {{ job }} ({{ job.created|date:"d/m/Y" }})
      </a>
    </div>
    <div class="card-content job-details">
      <article class="message is-info">
        <div class="message-body">
          <ul>
            <li>
              <i class="far fa-dot-circle"></i> Salario: <strong>{{ job.salary|default:"No se especifica" }}</strong>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> Tipo de contrato: <strong>{{ job.get_contract_type_display }}</strong>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> Modo de trabajo: <strong>{{ job.get_work_mode_display }}</strong>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> Jornada  parcial: <strong>{{ job.part_time|yesno:"Sí,No" }}</strong>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> Más información: <strong><a href="{{ job.more_info }}" target="_blank">
                  {{ job.more_info }}
                </a></strong>
            </li>
          </ul>
        </div>
      </article>
    </div>
    <div class="card-content job-description">
      <a class="btn-toggle-job-description"><i class="fas fa-chevron-circle-down"></i> Mostrar descripción</a>
      <div class="content job-description-text">{{ job.description|as_markdown }}</div>
    </div>
  </div>
  {% endfor %}

{% endblock content %}


